{% load i18n admin_tools_dashboard_tags zutils %}
<script type="text/javascript" src="{{ media_url }}/admin_tools/js/utils.js"></script>

<script type="text/javascript" charset="utf-8">
    // Load js files syncronously and conditionally

    var js_files = [
        {
            src : '{{ media_url }}/admin_tools/js/jquery/jquery.min.js',
            test: function() { return typeof(jQuery) == 'undefined'; }
        },
        {
            src : '{{ media_url }}/admin_tools/js/jquery/jquery-ui.min.js',
            test: function() { return typeof(jQuery.ui) == 'undefined'; }
        },
        {
            src : '{{ media_url }}/admin_tools/js/json.min.js',
            test: function() { return typeof(JSON.stringify) == 'undefined'; }
        },
        {
            src : '{{ media_url }}/admin_tools/js/jquery/jquery.cookie.min.js',
            test: function() { return typeof(jQuery.cookie) == 'undefined'; }
        },
        {
            src : '{{ media_url }}/admin_tools/js/jquery/jquery.dashboard.js',
            test: function() { return true; }
        },
        {
            src : '{{ media_url }}/admin_tools/js/dashboard.js',
            test: function() { return true; }
        }{% for js in dashboard.Media.js %},
        {
            src : '{{ media_url }}/{{ js }}',
            test: function() { return true; }
        }{% endfor %}
    ];

    loadScripts(js_files, function(){
        jQuery(function($) {
            init_dashboard(
                '{{ dashboard.get_id }}',
                {{ dashboard.columns }},
                {% autoescape off %}{{ dashboard_preferences }}{% endautoescape %},
                '{% url admin-tools-dashboard-set-preferences dashboard.get_id %}'
            );
        });
    });
</script>

<h1 class="">Tableau de bord</h1>
<link rel="stylesheet" type="text/css" href="{% zmedia_prefix %}zebnetcms/admin/css/jquery.visualize.css" />
<script language="javascript" type="text/javascript" src="{% zmedia_prefix %}zebnetcms/admin/js/excanvas.js"></script>
<script language="javascript" type="text/javascript" src="{% zmedia_prefix %}zebnetcms/admin/js/jquery.visualize.js"></script>
<script language="javascript" type="text/javascript" src="{% zmedia_prefix %}zebnetcms/admin/js/jquery.visualize.tooltip.js"></script>

<script type="text/javascript" language="javascript">
$(document).ready(function(){
// jQuery Data Visualize
	$('table.data').each(function() {
		var chartWidth = $(this).parent().width()*0.90; // Set chart width to 90% of its parent
		var chartType = ''; // Set chart type
			
		if ($(this).attr('data-chart')) { // If exists chart-chart attribute
			chartType = $(this).attr('data-chart'); // Get chart type from data-chart attribute
		} else {
			chartType = 'area'; // If data-chart attribute is not set, use 'area' type as default. Options: 'bar', 'area', 'pie', 'line'
		}
		
		if(chartType == 'line' || chartType == 'pie') {
			$(this).hide().visualize({
				type: chartType,
				width: chartWidth,
				height: '240px',
				lineDots: 'double',
				interaction: true,
				multiHover: 5,
				tooltip: true,
				tooltiphtml: function(data) {
					var html ='';
					for(var i=0; i<data.point.length; i++){
						html += '<p class="chart_tooltip"><strong>'+data.point[i].value+'</strong> '+data.point[i].yLabels[0]+'</p>';
					}	
					return html;
				}
			});
		} else {
			$(this).hide().visualize({
				type: chartType,
				width: chartWidth,
				height: '240px'
			});
		}
	});
  });
</script>

<div class="dashboard-module">
  <h2>Audience des 30 derniers jours</h2>
  <div class="dashboard-module-content">
      <div style="padding:10px">
          <div id="chart" style="">
<table class="data" data-chart="line" style="display:none">
	<thead>
		<tr>
			<td></td>
			{% for stat in dashboard.stats %}
			<th scope="col">{% cycle "" "" "" stat.date|date:"d/m/Y" %}</th>
			{% endfor %}
		</tr>
	</thead>
	<tbody>
		<tr>
			<th scope="row">Visiteurs</th>
			{% for stat in dashboard.stats %}
			<td>{{ stat.visitors }}</td>
			{% endfor %}
		</tr>
		<tr>
			<th scope="row">Pages vues</th>
			{% for stat in dashboard.stats %}
			<td>{{ stat.pageviews }}</td>
			{% endfor %}
		</tr>
	</tbody>
</table>
          </div>
      </div>
  </div>
</div>

<div id="dashboard-panel">
    <h3><a href="#">{% trans "Modules" %}</a></h3>
    {% if has_disabled_modules %}
    <ul>
        {% spaceless %}
        {% for module in dashboard.children %}
        {% if not module.enabled %}
        <li><a href="#" rel="module_{{ module.id }}" class="addlink add-dashboard-module">{{ module.title }}</a></li>
        {% endif %}
        {% endfor %}
        {% endspaceless %}
    </ul>
    {% endif %}
</div>
<div id="{{ dashboard.get_id }}" class="dashboard-container">
    {% for module in dashboard.children %}
{% admin_tools_render_dashboard_module module %}{% endfor %}
</div>
