{% extends "admin_tools/dashboard/module.html" %}
{% block module_content %}
<ul class="{{ module.layout }}">
    {% spaceless %}
    {% for child in module.children %}
    <li class="{% cycle 'odd' 'even' %}">
    <a class="{% for css in child.css_classes %}{{css }} {% endfor %}" title="{{ child.description }}">{{ child.title }}</a> 
    </li>
    {% endfor %}
    {% endspaceless %}
</ul>
<div class="clear"></div>
{% endblock %}
