{% load i18n thumbnail %}

<div id="featured-slides" class="clear">
    {# Begin featured slides #}
    {% for news in latest %}
    <div class="featured-post">
        <div class="featured-thumb">
            <p>
                {% thumbnail news.image "390x280" crop="center" as im %}<img width="290" height="125" title="{{ news.title }}" alt="{{ news.title }}" src="{{ im.url }}" />{% endthumbnail %}
            </p>
        </div>
        <div class="featured-text">
            <h2 class="{{ news.category.classname }}"><a href="#" title="Toute l'actualité {{ news.category.classname }} sur Macon">{{ news.category }}</a></h2>
            <h3><a href="{{ news.get_absolute_url }}" title="{{ news.title }}" rel="bookmark">{{ news.title }}</a></h3>  
            <p class="feature-date">{{ news.pub_date }}</p>
            <p>{{ news.excerpt }}</p>
            
            <div class="continue">
                <p><a href="{{ news.get_absolute_url }}" title="{{ news.title }}" rel="bookmark">Continuer</a></p>
            </div>
        </div>
    </div>
    {% endfor %}
    {# End featured slides #}
</div>
{# End featured slider #}
