{% load theming_tags zutils %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% load adminmedia %}{% admin_media_prefix %}css/base.css{% endblock %}" />
{% block extrastyle %}{% endblock %}
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="{% block stylesheet_ie %}{% load adminmedia %}{% admin_media_prefix %}css/ie.css{% endblock %}" /><![endif]-->
{% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% admin_media_prefix %}css/rtl.css{% endblock %}" />{% endif %}
<script type="text/javascript" src="/media/cms/js/lib/jquery.js"></script>

{% render_theming_css %}
<script type="text/javascript">window.__admin_media_prefix__ = "{% filter escapejs %}{% admin_media_prefix %}{% endfilter %}";</script>
{% block extrahead %}{% endblock %}
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}

<link rel="stylesheet" type="text/css" href="{% zmedia_prefix %}zebnetcms/admin/css/base.css" />

<link rel="stylesheet" type="text/css" href="{% zmedia_prefix %}zebnetcms/admin/css/style.css" />
<link rel="stylesheet" type="text/css" href="{% zmedia_prefix %}zebnetcms/admin/css/colors.css" />

{% load i18n %}

<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}">
    
<!-- Container -->
<div id="container">
    {% if not is_popup %}
    <div id="sidebarcontroller">
        <a class="button" href="#" id="sidebarswitcher">Masquer</a>
    </div>
    <!-- Header -->
    <div id="header">
        <div id="branding">
        {% block branding %}{% endblock %}
        </div>
        {% if user.is_active and user.is_staff %}
        <div id="user-info">
            <img alt="Sample User Avatar" src="{% zmedia_prefix %}zebnetcms/admin/gfx/sample_user.png">
            <div>
                <a href="#" style="color:#4C4C4C">{% filter force_escape %}{% firstof user.first_name user.username %}{% endfilter %}</a>
                <em>Administrateur</em>
                {% block userlinks %}
                <ul>
                    {% url admin:password_change as password_change_url %}
                    <li>
                    {% if password_change_url %}
                        <a class="button-link" href="{{ password_change_url }}">
                    {% else %}
                        <a class="button-link"href="{{ root_path }}password_change/">
                    {% endif %}
                    Mot de passe</a>
                    </li>
                    <li>
                    {% url admin:logout as logout_url %}
                
                    {% if logout_url %}
                        <a class="button-link" href="{{ logout_url }}">
                    {% else %}
                        <a class="button-link" href="{{ root_path }}logout/">
                    {% endif %}
                    Déconnexion</a>
                    </li>
                </ul>
                {% endblock %}
            </div>
        </div>
        {% endif %}
        {% block nav-global %}{% endblock %}
        
        <div class="sidebar nested">
            <h2>Informations diverses</h2>
            <p>
                <strong>Date : </strong>{% now "j F Y, H:i" %}
            </p>
            <p>
                <strong>Version : </strong> zebNet-CMS v3.1<br/>
                <strong>Dernière mise à jour : </strong> 24 août 2011
            </p>
        </div>
    </div>
    {% endif %}
    <!-- END Header -->
    <!-- Content -->
    <div id="content" class="{% block coltype %}colM{% endblock %}">
        {% if not is_popup %}
            {% block breadcrumbs %}
                <div class="breadcrumbs"><a href="/">{% trans 'Home' %}</a>{% if title %} &rsaquo; {{ title }}{% endif %}</div>
            {% endblock %}
        {% endif %}
        
        {% if messages %}
        <ul class="messagelist">{% for message in messages %}<li>{{ message }}</li>{% endfor %}</ul>
        {% endif %}
        
        
        {% block pretitle %}{% endblock %}
        {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
        {% block content %}
        {% block object-tools %}{% endblock %}
        {{ content }}
        {% endblock %}
        {% block sidebar %}{% endblock %}
        <br class="clear" />
        
        {% block footer %}<div id="footer">
        Propulsé par : zebnet-cms
        </div>{% endblock %}
    </div>
    <!-- END Content -->
</div>
<!-- END Container -->
<script type="text/javascript">
$(document).ready(function($){
    $('#sidebarswitcher').click(function(){
        if ($("#header").css("left") == "-271px") {
            $("#content").animate({
                marginLeft:271
            }, 1000);
            $("#header").animate({
                left: 0
            }, 1000);
            $(this).html("Masquer");
        }
        else {
            $("#content").animate({
                marginLeft:0
            }, 1000);
            $("#header").animate({
                left: "-271px"
            }, 1000);
            $(this).html("Afficher");
        }
        return false;
    });
    
    $('#navigation-menu li ul').hide(); //Hide all sub menus
    // Slide down the current sub menu
    $('#navigation-menu li.selected:first a').parent().find('ul').slideToggle('slow'); 
    
    $('#navigation-menu li a').click(function () {
        if ($(this).attr("href") == "#") {
            // Slide up all menus except the one clicked
            $(this).parent().siblings().find('ul').slideUp('normal'); 
            // Slide down the clicked sub menu
            $(this).parent().find('ul').slideToggle('normal'); 
            return false;
        }
    });
});
</script>
</body>
</html>
