{% extends "admin/base.html" %}
{% load i18n admin_tools_menu_tags %}

{% block title %}{{ title }} | zebNet-CMS admin{% endblock %}

{% block extrastyleold %}
{{ block.super }}
{% if user.is_active and user.is_staff %}
{% if not is_popup %}
{% admin_tools_render_menu_css %}
{% endif %}
{% endif %}
{% endblock %}

{% block branding %}
<a title="Revenir à la page d'accueil" href="/admin/"></a>
<h1 id="site-name">zebNet-CMS administration</h1>
{% endblock %}


{% block nav-global %}
    {% if user.is_active and user.is_staff %}
        {% if not is_popup %}
            {% admin_tools_render_menu %}
        {% endif %}
    {% endif %}
{% endblock %}
