{% extends "admin/base_site.html" %}

{% block extrahead %}{{ media }}{% endblock %}

{% block content %}
<style type="text/css">
label {display:none;}
</style>
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <p>
        <br/>
        <input type="submit" value="Sauvegarder" />
    </p>
</form>
{% endblock %}