{% extends "restaurants/base_restaurant.html" %}

{% load i18n thumbnail %}

{% block page_title %}Les restaurants et bars "{{ object_list.0.category }}" à Mâcon{% endblock %}

{% block content_news %}
<div id="page-title">
    <h1>Les restaurants et bars "{{ object_list.0.category }}" à Mâcon</h1>
</div>

<div id="archived-posts">
    <ul class="clear">
        {% for object in object_list %}
        <li>
            <div class="post type-post format-standard rel-post">
                <div class="sidebar-archive-thumb">
                    <p>
                        <a href="{{ object.get_absolute_url }}" rel="bookmark" title="{{ object.title }}">
                            {% thumbnail object.image "60x60" crop="center" as im %}<img src="{{ im.url }}" class="attachment-thumbnail-sidebar wp-post-image" alt="{{ object.title }}" title="{{ object.title }}" />{% endthumbnail %}
                        </a>
                    </p>
                </div>
                <div class="rel-post-text">
                    <h2>
                        <a href="{{ object.get_absolute_url }}" rel="bookmark" title="{{ object.title }}" style="font-size:12px;font-weight:bold;text-decoration:none;color:#222">{{ object.title }}</a>
                    </h2>
                    <p class="meta-data">
                        {{ object.address|linebreaksbr }}
                    </p>
                    {% if object.phone %}
                    <p><strong>Tél. :</strong> {{ object.phone }}</p>
                    {% endif %}
                    <p class="alignright"><a href="{{ object.get_absolute_url }}">Voir la fiche »</a>
                    </p>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>

{% if is_paginated %}
<div class="pagination">
    <div class="wp-pagenavi">
        <span class="pages">Page {{ page_obj.number }} sur {{ paginator.num_pages }}</span>
        {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}" class="previouspostslink">« Précédent</a>
        {% endif %}
        <span class="current">{{ page_obj.number }}</span>
        {#<a href="" class="page larger">{{ paginator.page_range }}</a>#}
        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}" class="nextpostslink">Suivant »</a>
        {% endif %}
    </div>
</div>
{% else %}
<div><br/></div>
{% endif %}

{% endblock %}