{% extends "restaurants/base_restaurant.html" %}

{% load i18n thumbnail %}

{% block page_title %}{{ object.title }}{% endblock %}

{% block content_news %}


<div id="post-header">
    <div class="post-title clear">
        <div class="header-title">
            <h1>{{ object.title }}</h1>
        </div>
    </div>
</div>

<div class="published">
    <p><a href="{{ object.category.get_absolute_url }}">{{ object.category }}</a></p>
</div>

<div class="post-columns clear">
    <div class="post type-post status-publish format-standard hentry category-movies category-videos tag-action-movie tag-captain-america tag-comic-book-movie tag-movie-trailers tag-the-avengers post-460 post-entry">
        {% if object.image %}
        <div class="wp-caption alignright" style="width: 310px">
            <a title="{{ object.title }}" href="{{ object.image.url}}" rel="fancybox-gallery">
                {% thumbnail object.image "300x220" crop="center" as im %}<img title="{{ object.title }}" alt="{{ object.title }}" class="size-medium" src="{{ im.url }}">{% endthumbnail %}
            </a>
        </div>
        {% endif %}
        <blockquote class="pullquote pullright alignleft" style="margin-bottom:20px">
            <h4>{{ object.title }}</h4>
            <p>
                <strong><a href="{{ object.category.get_absolute_url }}">{{ object.category }}</a></strong><br />
                {% if object.address %}<a href="http://maps.google.fr/maps?q={{ object.address|urlencode }},+France" target="_blank">{{ object.address|linebreaksbr }}</a><br/><a href="http://maps.google.fr/maps?q={{ object.address|urlencode }},+France" target="_blank"><strong>Voir sur Google Maps ›</strong></a><br/><br/>{% endif %}
                {% if object.phone %}<strong>Tél. : </strong>{{ object.phone }}<br/>{% endif %}
                {% if object.website %}<strong>Site web. : </strong><a href="http://{{ object.website }}" target="_blank">{{ object.website }}</a><br/>{% endif %}
                {% if object.email %}<strong>Email. : </strong><a href="mailto:{{ object.email }}">{{ object.email }}</a><br/>{% endif %}
            </p>
        </blockquote>
        <div class="clear"></div>
        
        {{ object.content|safe }}
    
        <div class="clear"></div>
        {% if object.restaurantphoto_set.all|length > 0 %}
        
        <h3>Les photos du restaurants : {{ object.title }}</h3>
        
        <div class="gallery gallery-columns-3 gallery-size-thumbnail" id="gallery-1">
            {% for p in object.restaurantphoto_set.all %}
            <dl class="gallery-item">
                <dt class="gallery-icon">
                    <a title="{{ p.title }}" href="{{ p.image.url }}" rel="fancybox-gallery">{% thumbnail p.image "150x150" crop="center" as im %}<img title="{{ p.title }}" alt="{{ p.title }}" class="attachment-thumbnail" src="{{ im.url }}">{% endthumbnail %}</a>
                </dt>
            </dl>
            {% endfor %}
            <br style="clear: both;">
        </div>
        {% endif %}
        
    </div>
    <div class="clear"></div>
</div>

{% endblock %}

