{% extends "events/base_event.html" %}

{% load i18n thumbnail %}

{% block page_event_title %}Les événements du {{ day }} à Macon{% endblock %}

{% block content_news %}
<div id="page-title">
    <h1>Les événements du {{ day }}</h1>
</div>

<div id="archived-posts">
    <ul class="clear">
    {% for object in object_list %}
    <li>
        <div style="height: 320px;" class="post type-post post-archive">
            <div class="archive-thumb">
                <p>
                    <a href="{{ object.get_absolute_url }}" rel="bookmark" title="{{ object.title }}">
                        {% thumbnail object.image "270x120" crop="center" as im %}<img src="{{ im.url }}" class="attachment-thumbnail-archive wp-post-image" alt="{{ object.title }}" title="{{ object.title }}" />{% endthumbnail %}
                    </a>
                </p>
            </div>
            <div class="archive-text">
                <h3>
                    <a href="{{ object.get_absolute_url }}" rel="bookmark" title="{{ object.title }}">{{ object.title }}</a>
                </h3>
                <p class="meta-data">Le {{ object.pub_date }} <a href="{{ object.get_absolute_url }}" title="{{ object.title }}">Lire la suite</a>
                </p>
                <p>Du {{ object.start_date|date:"j F Y H:m" }} au {{ object.end_date|date:"j F Y H:m" }}</p>
            </div>
        </div>
    </li>
    {% endfor %}
    </ul>
    <br/>
</div>
{% endblock %}
