{% extends "events/base_event.html" %}

{% block page_event_title %}Les événements du mois de {{ mname }} {{ year }} à Macon{% endblock %}

{% block content_news %}
<style type="text/css">
    .calendar {padding:10px;}
    .calendar table {width:100%;}
    .calendar table td {
        width:14%;
        border: 1px solid #ccc; 
        margin: 2px; 
        padding: 3px;
        height: 50px;
    }
    .calendar table td.current {
        background: #eeeec8; cursor: pointer;
    }
    .calendar table td.day {
        
    }
    .calendar table td.empty { border:0px;text-align:center;}
    .calendar table td.day a { text-decoration: none; margin: 4px; }
    .clear { clear: both; }
</style>

{#<a href= "{% url event_archive_month year=year month=month_n %}">&lt;&lt; Mois précédent</a><a href= "{% url event_archive_month year month_n %}">Mois suivant &gt;&gt;</a>#}

<div id="page-title">
    <h1>Les événements du mois de {{ mname }} {{ year }} sur Mâcon</h1>
</div>


<div class="calendar">
    <table>

    <tr>
        <td class="empty">Lun</td>
        <td class="empty">Mar</td>
        <td class="empty">Mer</td>
        <td class="empty">Jeu</td>
        <td class="empty">Ven</td>
        <td class="empty">Sam</td>
        <td class="empty">Dim</td>
    </tr>

    {% for week in month_days %}
        <tr>
        {% for day, entries, current, day_n in week %}

            {# TD style: empty | day | current; onClick handler and highlight #}
            <td class= {% if day == 0 %}"empty"{% endif %}
            {% if day != 0 and not current %}"day"{% endif %}
            {% if day != 0 and current %}"current"{% endif %}
            {% if day != 0 %}
                onMouseOver="this.bgColor='#eeeeee';"
                onMouseOut="this.bgColor='white';"
            {% endif %} >

            <!-- Day number and entry snippets -->
            {% if day != 0 %}
                {% if entries|length > 0 %}
                <a href="{% url events_archive_day year month_n day_n %}" title="Voir les événements du {{ day }}">{{ day }}
                    <br/>
                    {{ entries|length }} événement{{ entries|length|pluralize:"s" }}
                </a>
                {% comment %}
                {% for entry in entries %}
                    <br />
                    <a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a>
                {% endfor %}`
                {% endcomment %}
                {% else %}
                {{ day }}
                {% endif %}
            {% endif %}
            </td>
        {% endfor %}
        </tr>
    {% endfor %}
    </table>
    
    <div class="clear"></div>
    
    
    <div class="pagination">
        <div class="wp-pagenavi">
            <a href="{% url event_archive_month p_year p_month %}" class="previouspostslink">« Mois Précédent</a>
            <a href="{% url event_archive_month n_year n_month %}" class="nextpostslink">Mois Suivant »</a>
        </div>
    </div>
    
    <div class="clear"></div>

</div>
{% endblock %}