{% extends "events/base_event.html" %}

{% load i18n thumbnail %}

{% block page_event_title %}{{ object.title }}{% endblock %}

{% block content_news %}


<div id="post-header">
    <div class="post-title clear">
        <div class="header-title">
            <h1>{{ object.title }}</h1>
        </div>
    </div>
</div>

<div class="published">
    <p>&nbsp;</p>
</div>

<div class="post-columns clear">
    <div class="post type-post status-publish format-standard hentry category-movies category-videos tag-action-movie tag-captain-america tag-comic-book-movie tag-movie-trailers tag-the-avengers post-460 post-entry">
        {% if object.image %}
        <div class="wp-caption alignleft" style="width: 310px">
            <a title="{{ object.title }}" href="{{ object.image.url}}" rel="fancybox-gallery">
                {% thumbnail object.image "300x220" crop="center" as im %}<img title="{{ object.title }}" alt="{{ object.title }}" class="size-medium" src="{{ im.url }}">{% endthumbnail %}
            </a>
        </div>
        {% endif %}
        <blockquote class="pullquote pullright alignright" style="margin-bottom:20px">
            <p>
                Du {{ object.start_date|date:"j F Y à H:i" }} <br/>au {{ object.end_date|date:"j F Y à H:i" }}<br />
                Lieu : <a href="{{ object.place.get_absolute_url }}">{{ object.place }}</a>
            </p>
        </blockquote>
        <br class="clear" />
        
        {{ object.content|safe }}
    
        <div class="clear"></div>
        {% if object.eventphoto_set.all|length > 0 %}
        
        <h3>Les photos {{ object.title }}</h3>
        
        <div class="gallery gallery-columns-3 gallery-size-thumbnail" id="gallery-1">
            {% for p in object.eventphoto_set.all %}
            <dl class="gallery-item">
                <dt class="gallery-icon">
                    <a title="{{ p.title }}" href="{{ p.image.url }}" rel="fancybox-gallery">{% thumbnail p.image "150x150" crop="center" as im %}<img title="{{ p.title }}" alt="{{ p.title }}" class="attachment-thumbnail" src="{{ im.url }}">{% endthumbnail %}</a>
                </dt>
            </dl>
            {% endfor %}
            <br style="clear: both;">
        </div>
        {% endif %}
        
    </div>
    <div class="clear"></div>
</div>

<div class="pagination">
    <div class="wp-pagenavi">
        {% if object.get_previous %}
        <a href="{{ object.get_previous.get_absolute_url }}" class="previouspostslink">« Précédent</a>
        {% endif %}
        {% if object.get_next %}
        <a href="{{ object.get_next.get_absolute_url }}" class="nextpostslink">Suivant »</a>
        {% endif %}
    </div>
</div>

{% endblock %}

