{% load i18n thumbnail %}

{% comment %}
<h1>{% trans "Latest news" %} for {{ latest.0.category }}</h1>
<ul>
  {% for news in latest %}
    <li><a href="{{ news.get_absolute_url }}">{{ news.title }}</a></li>
  {% empty %}
    <li>{% trans "No news yet" %}</li>
  {% endfor %}
</ul>
<a href="{% url news_archive_index %}">{% trans "Archive" %}</a>
{% endcomment %}
<div class="home-column {% if instance.category %}{{ instance.category.classname}}{% endif %}">
    {# Begin lead headline and thumbnail 1 left category #}
    
    {% if instance.category %}
    <h2><a title="Toute l'actualité {{ instance.category }} sur Macon" href="#">{{ instance.category }}</a></h2>
    {% endif %}
    <ul>
    {% for news in latest %}
        {% if forloop.first %}
        <li>
            <div class="lead-thumb">
                <a title="{{ news.title }}" rel="bookmark" href="{{ news.get_absolute_url }}">{% thumbnail news.image "290x125" crop="center" as im %}<img title="{{ news.title }}" alt="{{ news.title }}" class="attachment-thumbnail-home wp-post-image" src="{{ im.url }}">{% endthumbnail %}</a>
            </div>
            <h3><a rel="bookmark" title="{{ news.title }}" href="{{ news.get_absolute_url }}">{{ news.title }} <br>{{ news.excerpt }}</a></h3>
            <p>Le {{ news.pub_date }} <a href="{{ news.get_absolute_url }}">Lire la suite »</a></p>
        </li>
        {% else %}
        <li>
            <div class="sidebar-archive-thumb">
                <a title="{{ news.title }}" rel="bookmark" href="{{ news.get_absolute_url }}">{% thumbnail news.image "60x60" crop="center" as im %}<img title="{{ news.title }}" alt="{{ news.title }}" class="attachment-thumbnail-sidebar wp-post-image" src="{{ im.url }}">{% endthumbnail %}</a>
            </div>
            <div class="thumb-text">
                <h3><a rel="bookmark" title="{{ news.title }}" href="{{ news.get_absolute_url }}">{{ news.title }}</a></h3>
                <p>Le {{ news.pub_date }} <a href="{{ news.get_absolute_url }}">Lire la suite »</a></p>
            </div>
        </li>
        {% endif %}
    {% endfor %}
    </ul>
</div>
