{% extends "events/base_event.html" %}

{% block content_news %}
<style type="text/css">
    .calendar {padding:10px;}
    .calendar table {width:100%;}
    .calendar table td {
        width:14%;
        border: 1px solid #ccc; 
        margin: 2px; 
        padding: 3px;
        height: 50px;
    }
    .calendar table td.current {
        background: #eeeec8; cursor: pointer;
    }
    .calendar table td.day {
        
    }
    .calendar table td.empty { border:0px;text-align:center;}
    .calendar table td.day a { text-decoration: none; margin: 4px; }
    .clear { clear: both; }
</style>

<a href= "{% url event_archive_category_month category=category.slug year=year month=month_n %}">&lt;&lt; Prev</a>
<a href= "{% url event_archive_category_month category.slug year month_n %}">Next &gt;&gt;</a>

<h4>{{ mname }} {{ year }}</h4>

<div class="calendar">
    <table>

    <tr>
        <td class="empty">Lun</td>
        <td class="empty">Mar</td>
        <td class="empty">Mer</td>
        <td class="empty">Jeu</td>
        <td class="empty">Ven</td>
        <td class="empty">Sam</td>
        <td class="empty">Dim</td>
    </tr>

    {% for week in month_days %}
        <tr>
        {% for day, entries, current in week %}

            <!-- TD style: empty | day | current; onClick handler and highlight  -->
            <td class= {% if day == 0 %}"empty"{% endif %}
            {% if day != 0 and not current %}"day"{% endif %}
            {% if day != 0 and current %}"current"{% endif %}
            {% if day != 0 %}
                onMouseOver="this.bgColor='#eeeeee';"
                onMouseOut="this.bgColor='white';"
            {% endif %} >

            <!-- Day number and entry snippets -->
            {% if day != 0 %}
                {{ day }}
                {% for entry in entries %}
                    <br />
                    <a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a>
                {% endfor %}
            {% endif %}
            </td>
        {% endfor %}
        </tr>
    {% endfor %}
    </table>

    <div class="clear"></div>
</div>
{% endblock %}