{% extends "events/base_event.html" %}

{% load i18n thumbnail %}

{% block page_event_title %}Les lieux de Macon{% endblock %}

{% block content_news %}
<div id="page-title">
    <h1>Les lieux à Macon</h1>
</div>

<div id="archived-posts">
    <ul class="clear">
        {% for object in object_list %}
        <li>
            <div style="height: 320px;" class="post type-post post-archive">
                <div class="archive-thumb">
                    <p>
                        <a href="{{ object.get_absolute_url }}" rel="bookmark" title="{{ object.title }}">
                            {% thumbnail object.image "270x120" crop="center" as im %}<img src="{{ im.url }}" class="attachment-thumbnail-archive wp-post-image" alt="{{ object.title }}" title="{{ object.title }}" />{% endthumbnail %}
                        </a>
                    </p>
                </div>
                <div class="archive-text">
                    <h3>
                        <a href="{{ object.get_absolute_url }}" rel="bookmark" title="{{ object.title }}">{{ object.title }}</a>
                    </h3>
                    <p class="meta-data">Le {{ object.pub_date }} <a href="{{ object.get_absolute_url }}" title="{{ object.title }}">Lire la suite</a>
                    </p>
                    <p>{{ object.excerpt }}</p>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>

{% if is_paginated %}
<div class="pagination">
    <div class="wp-pagenavi">
        <span class="pages">Page {{ page_obj.number }} sur {{ paginator.num_pages }}</span>
        {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}" class="previouspostslink">« Précédent</a>
        {% endif %}
        <span class="current">{{ page_obj.number }}</span>
        {#<a href="" class="page larger">{{ paginator.page_range }}</a>#}
        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}" class="nextpostslink">Suivant »</a>
        {% endif %}
    </div>
</div>
{% else %}
<div><br/></div>
{% endif %}
{% comment %}
    <div class="news">
        <h2><a href="{{ object.get_absolute_url }}" title="{{ object.title }}">{{ object.title }}</a></h2>
        <p>
            {{ object.excerpt }}
        </p>
        <p style="text:align:right">
            <a href="{{ object.get_absolute_url }}">Lire la suite</a>
        </p>
    </div>
    {% endfor %}
{% endcomment %}
{% endblock %}