{% extends "events/base_event.html" %}

{% load i18n thumbnail %}

{% block page_event_title %}{{ object.title }}{% endblock %}


{% block content_news %}


<div id="page-title">
    <h1>{{ object.title }}</h1>
</div>

<div class="post-columns clear">
    <div class="page type-page post-entry post-620">
        {% if object.image %}
        <div class="wp-caption alignright">
            {% thumbnail object.image "300x220" crop="center" as im %}<img title="{{ object.title }}" alt="{{ object.title }}" class="size-medium" src="{{ im.url }}">{% endthumbnail %}
        </div>
        {% endif %}
        {{ object.content|safe }}
        <p>
            {{ object.address|linebreaksbr }}
        </p>
        
        {% comment %}

        {% if object.get_current_showtimes|length > 0 %}
            
        <h3>Les séances disponibles :</h3>
        
        {% for s in object.get_current_showtimes %}
        <div>
            {% if s.movie.image %}
            <div class="wp-caption alignleft" style="padding:5px">
                {% thumbnail s.movie.image "100x135" crop="center" as im %}<img title="{{ s.movie }}" alt="{{ s.movie }}" class="size-medium" src="{{ im.url }}">{% endthumbnail %}
            </div>
            {% endif %}
            <h5><a title="{{ s.movie }}" href="{{ s.movie.get_absolute_url }}">{{ s.movie }}</a></h5>
            <blockquote style="margin-bottom:20px" class="pullquote" style="width:auto">
                <p>{{ s.content|linebreaksbr }}</p>
            </blockquote>
            <br style="clear: both;">
        </div>
        <hr/>
        {% endfor %}



        <!-- MODIFS -->
        {% regroup object.get_current_showtimes by film as film_list %}

        <div class="showtimes-in-place">

            <h3>Séances</h3>

            {% for f in film_list %}
            <div class="block">
                {% if f.movie.image %}
                <div class="poster ">
                    {% thumbnail f.movie.image "100x135" crop="center" as im %}<img title="{{ f.movie }}" alt="{{ f.movie }}" class="size-medium" src="{{ im.url }}">{% endthumbnail %}
                </div>
                {% endif %}
                <h4><a title="{{ f.movie }}" href="{{ f.movie.get_absolute_url }}">{{ f.movie }}</a></h4>
                <table>
                    <thead>
                        <tr>
                            <th>Mercredi</th>
                            <th>Jeudi</th>
                            <th>Vendredi</th>
                            <th>Samedi</th>
                            <th>Dimanche</th>
                            <th>Lundi</th>
                            <th>Mardi</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {% for item in f.list %}
                            <td>
                                {{ item.content|linebreaksbr }}
                            </td>
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>
            {% endfor %}


        </div>
        <!-- FIN MODIFS -->
        {% endif %}
        {% endcomment %}

        {% if showtimes.movies|length > 0%}
        <div class="showtimes-in-film">
            <h3>Programmation du {{ showtimes.start_date }} au {{ showtimes.end_date }}</h3>

            {% for f in showtimes.movies %}
            <div class="block">
                {% if f.movie.image %}
                <div class="poster alignleft" >
                    {% thumbnail f.movie.image "100x135" crop="center" as im %}<img title="{{ f.movie }}" alt="{{ f.movie }}" class="size-medium" src="{{ im.url }}">{% endthumbnail %}
                </div>
                {% endif %}
                <h4><a title="{{ f.movie }}" href="{{ f.movie.get_absolute_url }}">{{ f.movie }}</a></h4>
                <p>
                    {{ f.movie.content|safe }}
                </p>
                <div class="clear"></div>
                <table>
                    <thead>
                        <tr>
                            {% for t in f.dates %}
                            <th width="14.2%">{{ t.date|date:"l d/m"|capfirst }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {% for t in f.dates %}
                            <td>
                            {{ t.showtime|linebreaksbr}}
                            </td>
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>
            {% endfor %}
        </div>
        {% endif %}








        
    </div>
</div>


{% endblock %}

