<div class="sidebar-widget widget_calendar">
    <h3 class="widget-head">Les événements du mois de {{ mname }} {{ year }}</h3>
    <div id="calendar_wrap">
        <table summary="Calendar" id="wp-calendar">
            <thead>
                <tr>
                    <th title="Lundi" scope="col">L</th>
                    <th title="Mardi" scope="col">M</th>
                    <th title="Mercredi" scope="col">M</th>
                    <th title="Jeudi" scope="col">J</th>
                    <th title="Vendredi" scope="col">V</th>
                    <th title="Samedi" scope="col">S</th>
                    <th title="Dimanche" scope="col">D</th>
                </tr>
            </thead>
            
            <tfoot>
                <tr>
                    <td id="prev" colspan="3"><a title="Voir les événements de {{ previous.month_name }} {{ previous.year }}" href="{% url event_archive_month previous.year previous.month_n %}">« Mois précédent</a></td>
                    <td class="pad">&nbsp;</td>
                    <td class="pad" id="next" colspan="3"><a title="Voir les événements de {{ next.month_name }} {{ next.year }}" href="{% url event_archive_month next.year next.month_n %}">Mois suivant »</a></td>
                </tr>
            </tfoot>
            
            <tbody>
                {% for week in month_days %}
                <tr>
                    {% for day, entries, current, day_named in week %}
                    <td class= {% if day == 0 %}"empty"{% endif %}
                        {% if day != 0 and not current %}"day"{% endif %}
                        {% if day != 0 and current %}"current"{% endif %}
                        {% if day != 0 %}
                        onMouseOver="this.bgColor='#eeeeee';"
                        onMouseOut="this.bgColor='white';"
                        {% endif %} >
                        
                        {% if day != 0 %}
                        {% if entries|length > 0 %}
                        <a href="{% url events_archive_day year month_n day_named %}">{{ day }}</a>
                        {% else %}
                        {{ day }}
                        {% endif %}
                        {% comment %}
                        {% for entry in entries %}
                        <br />
                        <a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a>
                        {% endfor %}
                        {% endcomment %}
                        {% endif %}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>



{% comment %}

<style type="text/css">
    .calendar {padding:10px;}
    .calendar table {width:100%;}
    .calendar table td {
        width:14%;
        border: 1px solid #ccc; 
        margin: 2px; 
        padding: 3px;
        height: 50px;
    }
    .calendar table td.current {
        background: #eeeec8; cursor: pointer;
    }
    .calendar table td.day {
        
    }
    .calendar table td.empty { border:0px;text-align:center;}
    .calendar table td.day a { text-decoration: none; margin: 4px; }
    .clear { clear: both; }
</style>

<div class="calendar">
    <table>

    <tr>
        <td class="empty">Lun</td>
        <td class="empty">Mar</td>
        <td class="empty">Mer</td>
        <td class="empty">Jeu</td>
        <td class="empty">Ven</td>
        <td class="empty">Sam</td>
        <td class="empty">Dim</td>
    </tr>

    {% for week in month_days %}
        <tr>
        {% for day, entries, current in week %}

            <!-- TD style: empty | day | current; onClick handler and highlight  -->
            <td class= {% if day == 0 %}"empty"{% endif %}
            {% if day != 0 and not current %}"day"{% endif %}
            {% if day != 0 and current %}"current"{% endif %}
            {% if day != 0 %}
                onMouseOver="this.bgColor='#eeeeee';"
                onMouseOut="this.bgColor='white';"
            {% endif %} >

            <!-- Day number and entry snippets -->
            {% if day != 0 %}
                {{ day }}
                {% for entry in entries %}
                    <br />
                    <a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a>
                {% endfor %}
            {% endif %}
            </td>
        {% endfor %}
        </tr>
    {% endfor %}
    </table>

    <div class="clear"></div>
</div>
{% endcomment %}
