#utility-banner, #masthead, #mainnav-bar, .sticky-control-wrapper, #sticky-header, #footer, #right-sidebar, #featured-slides, #slider-nav, #cat-blocks-container, #footer, #left-sidebar, #breadcrumbs, .post-gravatar, #post-comments, #lead-image, .post-left-column, #author-box, #archived-posts, #comments, #respond  { display: none; }
body { font: 100% "Times New Roman", Times, serif; color: #000; }
a, a:visited { color: #fe0112; font-weight: bold; text-decoration: none; }
a:after, a:visited:after { content: " (" attr(href) ") "; font-size: 90%; }
img { border: none; }
img.alignleft, .img.alignright { float: none; display: block; }
