/*
Theme Name: Periodic
Theme URI: http://www.wearepixel8.com/
Description: Periodic is a premium WordPress magazine theme that is highly customizable with 18 different color schemes to choose from. Tailor Periodic to your needs with 6 widgetized areas (home sidebar, left sidebar, right sidebar and three in the footer), 2 custom menus (2 in the header), 12 custom widgets, 3 page templates, streaming video integration and a host of theme options to personalise your environment. To modify your copy of Periodic, click on the Periodic Theme Options link, in the WordPress Admin sidebar.
Version: 2.4.1
License: GNU General Public License
License URI: GPL.txt
Author: We Are Pixel8
Author URI: http://www.wearepixel8.com/
*/

/*
As of version 2.4, we recommend not making any edits to this file. If you wish to customize Periodic, please use the blank child theme included with your download. For instructions on how to install, activate and customize your child theme, please refer to the Read Me.txt file.
*/

/***** Resets *****/
body, html, div, blockquote, img, label, p, h1, h2, h3, h4, h5, h6, pre, ul, ol, li, dl, dt, dd, form, a, fieldset, input, th, td { margin: 0; padding: 0; border: 0; outline: none; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; }
:focus { outline: 0; }
body { line-height: 1; color: #000; background: #fff; }
img { border: 0; }
ol, ul { list-style: none; }
table { border-collapse: separate; border-spacing: 0; }
caption, th, td { text-align: left; font-weight: normal; }
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; text-align: left;}
a { outline: none; }

/***** @font-face Fonts *****/
/*
@font-face { font-family: 'VollkornRegular'; src: url('fonts/Vollkorn-Regular-webfont.eot'); src: local('VollkornRegular'), url('fonts/Vollkorn-Regular-webfont.woff') format('woff'), url('fonts/Vollkorn-Regular-webfont.ttf') format('truetype'), url('fonts/Vollkorn-Regular-webfont.svg#webfont2c9a8Pup') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'VollkornBold'; src: url('fonts/Vollkorn-Bold-webfont.eot'); src: local('VollkornBold'), url('fonts/Vollkorn-Bold-webfont.woff') format('woff'), url('fonts/Vollkorn-Bold-webfont.ttf') format('truetype'), url('fonts/Vollkorn-Bold-webfont.svg#webfontnFUVHqaM') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'VollkornItalic'; src: url('fonts/Vollkorn-Italic-webfont.eot'); src: local('VollkornItalic'), url('fonts/Vollkorn-Italic-webfont.woff') format('woff'), url('fonts/Vollkorn-Italic-webfont.ttf') format('truetype'), url('fonts/Vollkorn-Italic-webfont.svg#webfontNWDnMVvY') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'VollkornBoldItalic'; src: url('fonts/Vollkorn-BoldItalic-webfont.eot'); src: local('VollkornBoldItalic'), url('fonts/Vollkorn-BoldItalic-webfont.woff') format('woff'), url('fonts/Vollkorn-BoldItalic-webfont.ttf') format('truetype'), url('fonts/Vollkorn-BoldItalic-webfont.svg#webfontOcvOCEpg') format('svg'); font-weight: normal; font-style: normal; }
*/
/***** Structure and Layout *****/
body { font: 62.5% Arial, "Helvetica Neue", Helvetica, sans-serif; color: #666; }
#angles { position: relative; width: 100%; }
.inner-wrapper { position: relative; width: 960px; margin: 0 auto; }
#column-container { position: relative; width: 960px; background: #fff url(../gfx/backgrounds/bg-sidebar.gif) repeat-y top right; padding: 20px 0 0; }
#column-container-left { position: relative; width: 960px; background: #fff url(../gfx/backgrounds/bg-sidebar.gif) repeat-y top left; padding: 20px 0; }
#column-container-wide { position: relative; width: 960px; background: #fff; padding: 20px 0; }
#left-column, #right-column { position: relative; width: 640px; }
#right-sidebar, #left-sidebar { position: relative; width: 320px; }
#right-sidebar, #right-column { float: right; }
#left-column, #left-sidebar { float: left; }
.video-sidebar { position: relative; width: 300px; margin: 0 10px 20px; padding: 0 0 20px; border-bottom: 1px solid #d9d9d9; }

/***** Float Classes and Clear Float Fix *****/
.clear { display: inline-block; }
.clear:after { display: block; visibility: hidden; clear: both; height: 0; content: "."; }
/* Hide from IE Mac \*/ .clear { display: block; } /* End hide from IE Mac */
.alignleft { float: left; }
.alignright { float: right; }

/***** Utility Banner *****/
#utility-banner { position: relative; width: 100%; background: #222 url(../gfx/backgrounds/bg-gray.jpg); z-index: 198; }

/***** Utility Banner Navigation *****/
#utility-banner ul { position: relative; }
#utility-banner li { float: left; position: relative; line-height: 30px; }
#utility-banner li:hover { visibility: inherit; }
#utility-banner li a, #utility-banner li a:visited { font-size: 1.1em; font-weight: bold; text-decoration: none; display: block; text-transform: uppercase; margin: 0 20px 0 0; position: relative; }

/***** Utility Banner Dropdown Menu *****/
#utility-banner ul ul { position: absolute; top: -999em; width: 20em; background: #e6e6e6; border-left: 1px solid #d9d9d9; border-right: 1px solid #d9d9d9; border-bottom: 1px solid #d9d9d9; margin: 0; }
#utility-banner ul ul li { clear: left; width: 100%; border-top: 1px solid #d9d9d9; line-height: 3em; }
#utility-banner ul ul li:first-child { border: none; }
#utility-banner ul ul li a, #utility-banner ul ul li a:visited { text-transform: capitalize !important; color: #323232;  padding: 0 10px; margin: 0;  }
#utility-banner ul ul li a:hover, #utility-banner ul ul li a:active { color: #fff !important; }

/***** Show Utility Banner Dropdown Menu *****/
#utility-banner ul li:hover ul, #utility-banner ul li.sfHover ul { top: 3em; left: -0.2em; z-index: 199; }

/***** Hide Utility Banner Flyout Navigation Level 1 - 3 *****/
#utility-banner ul ul li:hover ul, #utility-banner ul ul li.sfHover ul,
#utility-banner ul ul ul li:hover ul, #utility-banner ul ul ul li.sfHover ul,
#utility-banner ul ul ul ul li:hover ul, #utility-banner ul ul ul ul li.sfHover ul { top: -999em; }

/***** Show Utility Banner Flyout Navigation Level 1 - 3 *****/
#utility-banner ul ul li:hover ul, #utility-banner ul ul li.sfHover ul,
#utility-banner ul ul ul li:hover ul, #utility-banner ul ul ul li.sfHover ul,
#utility-banner ul ul ul ul li:hover ul, #utility-banner ul ul ul ul li.sfHover ul { top: 0; left: 20em; }

/***** Socialize Menu *****/
.socialize { float: right; }
.socialize li a { margin: 0 0 0 20px !important; }
.socialize .get-feed { background: url(../gfx/backgrounds/bg-rss.png) no-repeat 0 9px; padding: 0 0 0 15px; }

/***** 728x90 Leaderboard Banner Ad *****/
#banner-728 { position: relative; display: block; width: 738px; height: 100px; margin: 20px auto; }
#banner-728 a img, #banner-728 a img:visited { display: block; border: 5px solid #fff; -webkit-transition: border .2s linear; transition: border .2s linear; }
#banner-728 a img:hover, #banner-728 a img:active { -webkit-transition: border .1.5s linear; transition: border .1.5s linear;  }

/***** Masthead *****/
#masthead { position: relative; width: 100%; padding: 20px 0; margin: 0 auto; }
.logo, .logo-text { float: left; margin: 10px 0 0 15px; }
.logo-text a, .logo-text a:visited { color: #fff; font-weight: bold; text-decoration: none; font-size: 5em; letter-spacing: -0.05em; background: #222; padding: 5px 10px; display: block; line-height: 1; }
.logo-text a:hover, .logo-text a:active { background: #111; }
.logo a { display: block; }
.masthead-banner { position: relative; float: right; }
.masthead-banner a img, .masthead-banner a img:visited { display: block; border: 5px solid #fff; -webkit-transition: border .2s linear; transition: border .2s linear; }
.masthead-banner a img:hover, .masthead-banner a img:active { -webkit-transition: border .1.5s linear; transition: border .1.5s linear;  }

/***** Sticky Header *****/
.sticky-control-wrapper { position: relative; width: 960px; height: 30px; margin: 0 auto 20px; }
#sticky-controls { position: absolute; top: 0; right: 10px; background: url(../gfx/backgrounds/periodic-sprite-02.png) no-repeat 0 -837px; padding: 0 0 0 20px; display: inline-block; }
#sticky-controls h2 { color: #464646; font-size: 1.1em; line-height: 3em; background: url(../gfx/backgrounds/bg-sticky-heading.png) repeat-x; padding: 0 40px 0 0; display: inline-block; margin: 0 20px 0 0; text-transform: uppercase; }
#sticky-controls p { position: absolute; top: 0; right: 0; }
.hide-sticky { display: block; width: 40px; height: 30px; background: url(../gfx/backgrounds/periodic-sprite-02.png) no-repeat 0 -1077px; text-indent: -9999px; }
.show-sticky { background-position: 0 -1157px; }
#sticky-header { position: relative; width: 960px; margin: 0 auto; padding: 0 0 20px; }
#trending-wrapper { position: relative; width: 960px; height: 140px; overflow: hidden; }
.sticky-post { position: relative; width: 220px; height: 110px; padding: 0 0 10px; background: url(../gfx/backgrounds/bg-stickyshadow.png) no-repeat left bottom; margin: 0 10px 20px; float: left; }
.sticky-wrap { position: relative; width: 220px; height: 110px; overflow: hidden; }
.sticky-thumb img { display: block; border: 5px solid #fff; position: absolute; left: 0; top: 0; }
.sticky-text { position: absolute; background: url(../gfx/backgrounds/bg-sticky-text.png); left: 5px; top: 110px; width: 190px; height: 80px; padding: 10px; }
.sticky-title { position: relative; width: 128px; float: left; background: url(../gfx/backgrounds/bg-sticky-title.png) repeat-y top right; padding: 10px 12px 15px 10px; }
.sticky-comments { float: right; margin: 10px 0 0; }
.sticky-text h3 a, .sticky-text h3 a:visited { color: #e0e0e0; font-size: 1.2em; line-height: 1.4em; text-decoration: none; }
.sticky-text h3 a:hover, .sticky-text h3 a:active { color: #fff; }
.sticky-comments a, .sticky-comments a:visited { color: #e0e0e0; text-decoration: none; background: url(../gfx/backgrounds/comment-bubble.png) no-repeat left center; padding: 0 0 0 15px; font-size: 1.2em; font-weight: bold; }
.sticky-comments a:hover, .sticky-comments a:active { color: #fff; }
.hot-topic { display: block; text-indent: -9999px; width: 30px; height: 30px; position: absolute; bottom: 0; left: 0; z-index: 189; }
.video-article { display: block; text-indent: -9999px; width: 35px; height: 35px; position: absolute; top: 5px; left: 5px; z-index: 190; }
.sticky-wrap .video-article { top: 0; left: 0; }
.trending-nav { display: block; width: 70px; height: 30px; margin: 0 445px; }
.trending-nav li { float: left; }
.trending-nav #prev-trending, .trending-nav #next-trending { display: block; width: 30px; height: 30px; text-indent: -9999px; }
.trending-nav #prev-trending { background: url(../gfx/backgrounds/periodic-sprite-02.png) no-repeat 0 -997px; margin: 0 5px 0 0; }
.trending-nav #next-trending { background: url(../gfx/backgrounds/periodic-sprite-02.png) no-repeat 0 -917px; margin: 0 0 0 5px; }

/***** Main Nav Bar *****/
#mainnav-bar { position: relative; width: 960px; margin: 0 auto; background: #fcfcfc url(../gfx/backgrounds/bg-main-nav.jpg) repeat-x bottom left; border: 1px solid #d9d9d9; z-index: 98; }

/***** Main Navigation *****/
#mainnav-bar ul { position: relative; float: left }
#mainnav-bar li { float: left; background: url(../gfx/backgrounds/pipe-mainnav.gif) repeat-y top right; line-height: 40px; position: relative;padding-right:2px;}

#mainnav-bar li:hover { visibility: inherit; }
#mainnav-bar li a, #mainnav-bar li a:visited { display: block; color: #464646; font-size: 1.3em; font-weight: bold; padding: 0 15px; text-decoration: none; position: relative; border-bottom:4px solid #444;}
#mainnav-bar li a:hover, #mainnav-bar li a:active { color: #fff; background: #464646 url(../gfx/backgrounds/bg-main-nav-hover.png) repeat-x top left; }

/***** Main Navigation Dropdown Menu *****/
#mainnav-bar ul ul { position: absolute; top: -999em; width: 20em; background: #e6e6e6; border-left: 1px solid #d9d9d9; border-right: 1px solid #d9d9d9; border-bottom: 1px solid #d9d9d9; background-image: none; margin: 0; }
#mainnav-bar ul ul li { clear: left; width: 100%; border-top: 1px solid #d9d9d9; padding: 0; background-image: none !important; line-height: 3em; }
#mainnav-bar ul ul li:first-child { border: none; }
#mainnav-bar ul ul li a, #mainnav-bar ul ul li a:visited { font-size: 1.1em !important; color: #323232; background-image: none !important; }
#mainnav-bar ul ul li a:hover, #mainnav-bar ul ul li a:active { background: #1b1b1b; color: #fff !important; }

/***** Show Main Navigation Dropdown Menu *****/
#mainnav-bar ul li:hover ul, #mainnav-bar ul li.sfHover ul { top: 4.1em; left: 0; z-index: 99; }

/***** Hide Main Navigation Flyout Navigation Level 1 - 3 *****/
#mainnav-bar ul ul li:hover ul, #mainnav-bar ul ul li.sfHover ul,
#mainnav-bar ul ul ul li:hover ul, #mainnav-bar ul ul ul li.sfHover ul,
#mainnav-bar ul ul ul ul li:hover ul, #mainnav-bar ul ul ul ul li.sfHover ul { top: -999em; }

/***** Show Main Navigation Flyout Navigation Level 1 - 3 *****/
#mainnav-bar ul ul li:hover ul, #mainnav-bar ul ul li.sfHover ul,
#mainnav-bar ul ul ul li:hover ul, #mainnav-bar ul ul ul li.sfHover ul,
#mainnav-bar ul ul ul ul li:hover ul, #mainnav-bar ul ul ul ul li.sfHover ul { top: 0; left: 20em; }

/***** Main Navigation Current Menu Item Highlighting *****/
#mainnav-bar ul li:hover, #mainnav-bar ul li.sfHover:hover { background: url(../gfx/backgrounds/pipe-mainnav.gif) repeat-y top right; }
#mainnav-bar ul ul li:hover, #mainnav-bar ul ul li.sfHover:hover { background: #d5d5d5; background-image: none; }

/* Featured Post Slider */
#featured-slides { display: block; position: relative; width: 960px; height: 340px; background: #222 url(../gfx/backgrounds/periodic-sprite-02.png) no-repeat 0 -427px; }
.featured-post { position: relative; width: 960px; overflow: hidden; }
.featured-thumb { position: relative; width: 440px; height: 340px; float: left; padding: 20px 0 0 40px; }
.featured-thumb a img, .featured-thumb img { display: block; width: 390px; height: 280px; border: 10px solid #fff; }
.featured-play { position: absolute; top: 150px; left: 210px; }
.featured-text { position: relative; width: 440px; height: 320px; float: right; padding: 30px 30px 30px 10px; }
.featured-text h2 a, .featured-text h2 a:visited { font-size: 1.1em; line-height: 1; color: #e0e0e0; margin: 0 0 10px -7px; text-transform: uppercase; padding: 8px 0 15px 32px; text-decoration: none; display: inline-block; }
.featured-text h2 a:hover, .featured-text h2 a:active { color: #fff; }
.featured-text h3 a, .featured-text h3 a:visited { color: #e0e0e0; text-decoration: none; font: normal 2.8em/1.2 'VollkornRegular', serif; -webkit-transition: color .2s linear; transition: color .2s linear; }
.featured-text h3 a:hover, .featured-text h3 a:active { color: #fff; -webkit-transition: color .2s linear; transition: color .2s linear; }
.featured-text p { color: #e0e0e0; font-size: 1.4em; line-height: 1.5em; margin: 15px 0 0; }
.featured-text .feature-date { font-size: 1.2em; }
.featured-text p a, .featured-text p a:visited { color: #e0e0e0; text-decoration: underline; -webkit-transition: color .2s linear, border .2s linear; transition: color .2s linear; transition: border .2s linear; }
.featured-text p a:hover, .featured-text p a:active { color: #fff; -webkit-transition: color .2s linear; transition: color .2s linear; transition: border .2s linear; }
.featured-text .feature-comment { background: url(../gfx/backgrounds/comment-bubble.png) no-repeat left center; padding: 0 0 0 17px; }
.continue { position: relative; background: url(../gfx/backgrounds/periodic-sprite-02.png) no-repeat 0 0; width: 87px; height: 27px; }
.continue p { text-align: center; line-height: 25px; font-size: 1.1em; margin: 20px 0 0; }
.continue p a { text-decoration: none !important; background: url(../gfx/backgrounds/white-arrow.png) no-repeat right 4px; padding: 0 9px 0 0; }
.gecko .continue p a { background-position: right 3px; }

/* Featured Post Slider Nav */
#slider-nav { position: relative; width: 960px; overflow: hidden; }
#slider-nav li { float: left; }
#slider-nav li a, #slider-nav li a:visited { display: block; width: 145px; height: 85px; background: url(../gfx/backgrounds/periodic-sprite-02.png) no-repeat 0 -242px; padding: 30px 0 0 15px; }
#slider-nav li a:hover, #slider-nav li a:active, #slider-nav li.activeSlide a { background-position: 0 -77px; }

/***** Home Page Magazine Content *****/
.headlines { position: relative; width: 640px; background: url(../gfx/backgrounds/bg-home-columns.gif) no-repeat center top; padding: 15px 0 0; margin: 0 0 20px; }
.home-column { position: relative; width: 300px; float: left; padding: 0 10px; }
.home-column h2 a, .home-column h2 a:visited { font-size: 1.1em; text-transform: uppercase; text-decoration: none; padding: 0 8px 0 0; }
.home-column ul { margin: 10px 0 0; }
.home-column li { padding: 10px 0; border-top: 1px solid #e7e7e7; width: 300px; overflow: hidden; }
.home-column .home-thumb li { overflow: hidden; width: 300px; }
.thumb-text { position: relative; width: 220px; float: right; }
.home-column h3 a, .home-column h3 a:visited { font-size: 1.2em; font-weight: normal; color: #464646; text-decoration: none; line-height: 1.5; }
.home-column p { color: #a5a5a5; font: 1.2em/1.5 'VollkornItalic', serif; margin: 1px 0 0; }
.home-column .sidebar-archive-thumb p, .home-column .lead-thumb p { margin: 0; }
.home-column p a, .home-column p a:visited { text-decoration: none; }
.home-column p a:hover, .home-column p a:active { text-decoration: underline; }
.home-headlines h3 a, .home-headlines h3 a:visited { background: url(../gfx/backgrounds/list-arrow.png) no-repeat 0 0.3em; display: block; padding: 0 0 0 15px; }
.home-headlines p { margin: 1px 0 0 15px; }
.lead-thumb { position: relative; }
.lead-thumb a, .lead-thumb a:visited { display: block; width: 290px; height: 125px; border: 5px solid #f1f1f1; margin: 0 0 10px; -webkit-transition: border .2s linear; transition: border .2s linear; }
.lead-thumb a:hover, .lead-thumb a:active { -webkit-transition: border .2s linear; transition: border .2s linear; }

/***** Home Page Blog Content *****/
.home-blog { position: relative; width: 600px; margin: 0 10px; border-top: 1px solid #d9d9d9; border-right: 1px solid #d9d9d9; border-left: 1px solid #d9d9d9; padding: 10px 9px;  }
.home-blog-thumb { position: relative; width: 130px; height: 130px; float: left; background: #f1f1f1; border: 1px solid #d9d9d9; padding: 4px; }
.home-blog-thumb:hover { border-color: #bbb; }
.home-blog-thumb .play-button { position: absolute; top: 30px; left: 30px; }
.home-blog-text { position: relative; width: 440px; float: right; }
.home-blog-text h3 a, .home-blog-text h3 a:visited { color: #464646; font-size: 1.8em; line-height: 1.2em; text-decoration: none; letter-spacing: -.02em; }
.home-blog-text p { font-size: 1.2em; line-height: 1.6em; margin: 10px 0 0; }
.home-blog-text p a, .home-blog-text p a:visited { text-decoration: none; }
.home-blog-text p a:hover, .home-blog-text p a:active { text-decoration: underline; }
.home-blog-cat { position: relative; width: 620px; height: 35px; margin: 0 10px 20px; background: url(../gfx/backgrounds/bg-home-cat.jpg) no-repeat 0 0; }
.home-blog-cat p { line-height: 35px; font-size: 1.1em; background: url(../gfx/backgrounds/bg-cat-links.jpg) no-repeat top right; padding: 0 15px 0 10px; color: #fff; display: inline-block; }
.home-blog-cat p a, .home-blog-cat p a:visited { color: #fff; text-decoration: none; }
.home-blog-cat p a:hover, .home-blog-cat p a:active { text-decoration: underline; }

/***** Breadcrumbs *****/
#breadcrumbs { position: relative; width: 620px; margin: 0 10px 20px; }
#breadcrumbs p { font-size: 1.1em; line-height: 1.4em; }
#breadcrumbs p a, #breadcrumbs p a:visited { font-weight: normal; text-decoration: none; }
#breadcrumbs p a:hover, #breadcrumbs p a:active { text-decoration: underline; }
#breadcrumbs p span.current-crumb { font-weight: bold; }

/***** Page Titles *****/
#page-title, #page-title-wide { position: relative; margin: 0 10px 20px; background: url(../gfx/backgrounds/divider.png) no-repeat bottom center; padding: 0 0 20px; }
#page-title { width: 620px; }
#page-title-wide { width: 940px; }
#page-title h1, #page-title-wide h1 { color: #222; font: 3em/1.2 'VollkornRegular', serif; letter-spacing: -.03em; }

/***** Post Header *****/
#post-header { position: relative; width: 618px; margin: 0 10px 20px; background: #f1f1f1; border: 1px solid #d9d9d9; padding: 10px 0 0; overflow: hidden; }
#post-header-wide { position: relative; width: 618px; margin: 0 10px 20px; background: #f1f1f1; border: 1px solid #d9d9d9; padding: 10px 0 0; }
.post-title { position: relative; width: 618px; }
.header-gravatar { position: relative; width: 80px; height: 60px; float: left; background: url(../gfx/backgrounds/bg-header-avatar.gif) no-repeat right 10px; margin: 0 0 0 9px; z-index: 2; }
.header-gravatar img { display: block; border: 5px solid #fff; }
.header-title { position: relative; background: #fff; border: 1px solid #d9d9d9; padding: 10px; }
#post-header .header-title { width: 498px; float: left; margin: 0 0 0 -1px; }
#post-header-wide .header-title { width: 576px; margin: 0 0 0 9px; }
.header-title h1 { color: #222; font: 2.5em/1.2 'VollkornRegular', serif; letter-spacing: -.03em; }
#post-data { position: relative; width: 618px; margin: 10px 0 0; }
#post-data-wide { position: relative; width: 525; margin: 0 10px 0 0; float: left; }
#post-comments { position: relative; width: 75px; margin: 0 0 0 10px; float: right; }

/***** Post Data *****/
#post-data p { font-size: 1.1em; line-height: 1.4em; color: #222; background: url(../gfx/backgrounds/bg-post-header.gif) repeat-x left top; padding: 10px; }
#post-data p a, #post-data p a:visited { text-decoration: none; }
#post-data p a:hover, #post-data p a:active { text-decoration: underline; }

/***** Share Post Actions *****/
.share-actions { position: relative; width: 140px; margin: 0 0 0 10px; }
.share-actions li { border-right: 1px solid #d9d9d9; border-bottom: 1px solid #d9d9d9; border-left: 1px solid #d9d9d9; padding: 15px 20px; text-align: center; }
.share-button, .share-button:visited { display: inline-block; line-height: 2em; text-align: center; background: #e5e5e5 url(../gfx/backgrounds/bg-button.png) repeat-x 0 0; padding: 0 10px; border: 1px solid #d9d9d9; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; color: #464646; font-weight: bold; font-size: 1.1em; text-decoration: none; }
.share-button:hover, .share-button:active { border-color: #b9b9b9; }
.post-left-column .widget-head { margin: 0 10px; line-height: 30px; text-align: center; }
.post-left-column p { margin: 0 10px 20px; text-align: center; }

/***** Post Lead Image *****/
#lead-image { position: relative; width: 610px; height: 225px; margin: 0 10px 20px; padding: 5px; background: url(../gfx/backgrounds/bg-postthumb.gif); }
#lead-image img { display: block; }

/***** Post Meta *****/
.published { position: relative; width: 620px; margin: 0 10px 20px; background: url(../gfx/backgrounds/bg-published.gif) repeat-x 0 0; text-align: center; }
.published p { background: #fff url(../gfx/backgrounds/bg-published-decoration.gif) no-repeat center bottom; display: inline-block; color: #222; font: 1.2em 'VollkornItalic', serif; padding: 0 10px 20px; }
.published p a, .published p a:visited { text-decoration: none; }
.published p a:hover, .published p a:active { text-decoration: underline; }

/***** Post YouTube Video Player *****/
#video-player { position: relative; width: 620px; margin: 0 10px 20px; }
.yt-player { width: 615px; height: 370px; }

/***** Post Entry *****/
.post-columns { position: relative; width: 640px; }
.post-460 { position: relative; width: 460px; margin: 0 10px; float: right; }
.post-620, .periodic-password-post { position: relative; width: 620px; margin: 0 10px; }
.post-940 { width: 940px; margin: 0 10px; }
.post-left-column { position: relative; width: 160px; float: left; margin: 0 0 20px; }
.post-entry { position: relative; }
.post-entry h1, .post-entry h2, .post-entry h3, .post-entry h4, .post-entry h5, .post-entry h6 { margin: 0 0 10px; color: #222; line-height: 1.7; }
.post-entry h1 { font-size: 2.1em; }
.post-entry h2 { font-size: 1.9em; }
.post-entry h3 { font-size: 1.7em; }
.post-entry h4 { font-size: 1.5em; }
.post-entry h5 { font-size: 1.3em; }
.post-entry h6 { font-size: 1.2em; }
.post-entry p { font-size: 1.3em; line-height: 1.7em; margin: 0 0 30px; }
.post-entry blockquote { margin: 0 40px; border-left: 3px solid #464646; padding: 0 0 0 20px; font: 120% 'VollkornItalic', serif; color: #222; }
.post-entry blockquote p { line-height: 1.5em; }
.post-entry ul, .post-entry ol { margin: 0 40px 30px; font-size: 1.3em; line-height: 1.7em; }
.post-entry ul { list-style: disc; }
.post-entry ul ul { margin: 0 0 0 30px; font-size: inherit; list-style: circle; }
.post-entry ul ol { margin: 0 0 0 30px; font-size: inherit; }
.post-entry ul ul li { background: none; padding: 0; }
.post-entry ol { list-style: decimal; }
.post-entry dl { font-size: 1.3em; line-height: 1.7em; }
.post-entry dt { color: #222; font-weight: bold; }
.post-entry dd { margin: 0 0 30px; }
.post-entry code { font: 90% Monaco, Courier, monospace; background: #f1f1f1; padding: 2px; border-bottom: 1px solid #d9d9d9; border-right: 1px solid #d9d9d9; }
.post-entry p a, .post-entry li a,
.post-entry p a:visited, .post-entry li a:visited { text-decoration: none; }
.post-entry p a:hover, .post-entry li a:hover,
.post-entry p a:active, .post-entry li a:active { text-decoration: underline; }
.post-entry table { width: 90%; border-left: 1px solid #d9d9d9; margin: 0 auto 20px; }
.post-entry table caption { line-height: 3em; font-size: 1.2em; font-weight: bold; color: #464646; }
.post-entry table thead, .post-entry table tfoot { background: #f1f1f1; }
.post-entry table th, .post-entry table td { padding: 10px 15px; text-align: left; border-right: 1px solid #d9d9d9; border-bottom: 1px solid #d9d9d9; font-size: 1.2em; color: #464646; }
.post-entry tfoot td { text-align: center; }
.post-entry table th { border-top: 1px solid #d9d9d9; font-weight: bold; }
.post-entry table td a, .post-entry table td a:visited { font-weight: bold; text-decoration: none; }
.post-entry table td a:hover, .post-entry table td a:active { text-decoration: underline; }
.post-entry pre { font-size: 1.4em; background: url(../gfx/backgrounds/bg-pre.gif) top left; line-height: 2.3em; width: 600px; overflow: auto; overflow-y: hidden; border: 1px solid #d9d9d9; margin: 0 0 20px; }
.post-entry pre code { background: none; border: none; font-size: inherit; margin: 0 20px; padding: 18px 0; }
.post-entry address { font-style: normal; font-size: 1.3em; line-height: 1.5em; margin: 0 0 20px; }
.post-entry strong { color: #464646; }

/***** Post Entry Password Form ****/
.post-entry form label { font-weight: bold; display: block; }
.post-entry form input[type='password'] { width: 280px; padding: 7px 10px; border: 5px solid #f1f1f1; color: #d9d9d9; margin: 5px 0 0; }
.post-entry form input[type='password']:focus { color: #797979; }
.post-entry form input[type='submit'] { width: 140px; height: 40px; margin: 0 0 20px; background: url(../gfx/backgrounds/periodic-sprite-03.png) no-repeat 0 -340px; font-weight: bold; font-family: Arial, "Helvetia Neue", Helvetica, sans-serif; text-transform: uppercase; color: #797979; margin: 10px 0 0; }
.post-entry form input[type='submit']:hover { background-position: 0 -430px; cursor: pointer; }

/***** Shortcodes *****/
.post-entry blockquote.pullquote { margin: 0 20px; padding: 0; width: 35%; border: none; color: #464646; text-align: left;}
.post-entry blockquote.pullquote p { margin: 0; }
.post-entry blockquote.pullright { padding: 5px 0 5px 20px; border-left: 3px solid #464646; }
.post-entry blockquote.pullleft { padding: 5px 20px 5px 0; border-right: 3px solid #464646; text-align: right; }
.checklist { position: relative; }
.checklist ul { list-style: none; }
.checklist li { background: url(../gfx/backgrounds/check.png) no-repeat left .4em; padding: 0 0 0 20px; }
.arrowlist { position: relative; }
.arrowlist ul { list-style: none; }
.arrowlist li { background: url(../gfx/backgrounds/list-arrow.png) no-repeat 0 .4em; padding: 0 0 0 15px; }
.arrowlist li li { background: none; padding: 0; }
.note { position: relative; width: 75%; margin: 0 auto 30px; background: #f1f1f1; border: 1px solid #d9d9d9; padding: 10px 20px 14px; }
.note p { margin: 0; font: 1.4em/1.6em 'VollkornItalic', serif; }
.two_column { position: relative; width: 47%; margin: 0 20px 0 0; float: left; }
.two_column_last { position: relative; width: 47%; margin: 0; float: left; }
.three_column { position: relative; width: 31%; margin: 0 20px 0 0; float: left; }
.three_column_last { position: relative; width: 31%; margin: 0; float: left; }
.four_column { position: relative; width: 23%; margin: 0 20px 0 0; float: left; }
.four_column_last { position: relative; width: 23%; margin: 0; float: left; }
.button, .button:visited { display: inline-block; line-height: 2.5em; text-align: center; background: #e5e5e5 url(../gfx/backgrounds/bg-button.png) repeat-x 0 0; padding: 0 25px; border: 5px solid #d9d9d9; -moz-border-radius: 20px; -webkit-border-radius: 20px; border-radius: 20px; margin: 0 0 20px; color: #464646; font-weight: bold; font-size: 1.2em; text-decoration: none; }
.button:hover, .button:active { background-color: #fcfcfc; background-position: 0 -40px; border-color: #b9b9b9; }

/***** Post Images *****/
img.alignleft { margin: 0 20px 10px 0; }
img.alignright { margin: 0 0 10px 20px; }
img.aligncenter { margin: 0 auto; }

/***** Post Images with Captions *****/
.wp-caption { background: #f3f3f3; border: 1px solid #d9d9d9; padding: 4px 0; }
.wp-caption img { display: block; margin: 0 auto; }
.wp-caption .wp-caption-text { text-align: center; margin: 5px 0 3px; line-height: 1; font: 1.2em/1.3 'VollkornItalic', serif; color: #464646; }
div.alignleft { margin: 0 20px 10px 0; }
div.alignright { margin: 0 0 10px 20px; }
div.aligncenter { margin: 0 auto 20px; }

/***** Post Image Galleries *****/
.gallery { margin: 0 0 20px !important; }
.gallery-item img { border: 1px solid #d9d9d9 !important; background: #f1f1f1; padding: 4px; }
.post-entry dd.gallery-caption { margin: 0 0 15px; padding: 0 20px; }
.post-entry dd.wp-caption-text { font-family: 'VollkornItalic', serif; color: #464646; line-height: 1.2em; }

/***** Post Share *****/
#post-share { position: relative; width: 620px; margin: 0 10px 20px; }
#post-share li { line-height: 0; float: left; margin: 0 30px 0 0; }

/***** Author Box *****/
.post-gravatar { position: relative; width: 60px; height: 60px; margin: 0 10px 0 0; float: left; }
.post-gravatar img { display: block; width: 50px; height: 50px; border: 1px solid #d9d9d9; background: #fcfcfc; padding: 4px; }
#author-box, #archived-author-box { position: relative; width: 598px; margin: 0 10px 20px; background: #f1f1f1; border: 1px solid #d9d9d9; padding: 10px; }
#author-box h3 { color: #222; font-size: 1.1em; margin: 0 0 10px; text-transform: uppercase; }
#author-text, #archived-author-text { position: relative; width: 528px; float: right; }
#author-text p { font-size: 1.2em; line-height: 1.6em; margin: 0 0 10px; }
#archived-author-text p { font-size: 1.2em; line-height: 1.6em; }
#author-text p a, #author-text p a:visited,
#archived-author-text p a, #archived-author-text p a:visited { text-decoration: none; }
#author-text p a:hover, #author-text p a:active,
#archived-author-text p a:hover, #archived-author-text p a:active { text-decoration: underline; }

/***** Post Archives *****/
#archived-posts { position: relative; width: 640px; }
#archived-posts .widget-head { margin: 0 11px 0 10px; border-bottom: none; }
#archived-posts ul { width: 618px; border-top: 1px solid #d9d9d9; border-left: 1px solid #d9d9d9; margin: 0 10px; }
#archived-posts li { line-height: 0; width: 308px; border-bottom: 1px solid #d9d9d9; border-right: 1px solid #d9d9d9; padding: 20px 0; float: left; }
#archived-posts li.no-articles { border: none; font: 1.4em/1.6em 'VollkornItalic', serif; background: #fff; width: 100%; margin: 0 0 0 -1px; }
.post-archive { position: relative; width: 300px; margin: 0 10px; padding: 20px 0; }
#archived-posts .post-archive { padding: 0; width: 280px; margin: 0 auto; }
#archived-posts .archive-thumb { width: 280px; }
#archived-posts .archive-thumb .hot-topic { left: 5px; bottom: 5px; }
.archive-thumb { position: relative; width: 300px; }
.archive-thumb a, .archive-thumb a:visited { display: block; width: 270px; height: 120px; border: 5px solid #f1f1f1; margin: 0 0 10px; -webkit-transition: border .2s linear; transition: border .2s linear; }
.archive-thumb a:hover, .archive-thumb a:active { -webkit-transition: border .2s linear; transition: border .2s linear; }
.video-archive-thumb .yt-thumb, .video-archive-thumb .attachment-thumbnail-archive { display: block; border: 5px solid #f1f1f1; margin: 0 0 10px; }
.archive-text, .callout-archive-text { position: relative; padding: 0 5px; }
#recent-articles .archive-text { width: 195px; margin: 0 5px 0 0; float: right; padding: 0; }
.archive-text h3 a, .archive-text h3 a:visited,
.archive-text h4 a, .archive-text h4 a:visited { color: #464646; text-decoration: none; font-size: 1.2em; line-height: 1.6em; -webkit-transition: color .2s linear; transition: color .2s linear; }
.archive-text h3 a:hover, .archive-text h3 a:active,
.archive-text h4 a:hover, .archive-text h4 a:active { -webkit-transition: color .2s linear; transition: color .2s linear; }
.archive-text p { margin: 10px 0 0; font-size: 1.2em; line-height: 1.6em; }
.archive-text .meta-data { font-size: 1.1em; line-height: 1.6em; }
.archive-text p a, .archive-text p a:visited { text-decoration: none; }
.archive-text p a:hover, .archive-text p a:active { text-decoration: underline; }
.play-archive { position: absolute; top: -110px; left: 110px; border: none !important; }
#archive-error { position: relative; width: 620px; margin: 0 10px 20px; border-top: 1px solid #d9d9d9; padding: 20px 0 0; }
#category-description { position: relative; width: 620px; margin: 0 10px 20px; }
#category-description p { font: 1.4em/1.6em 'VollkornItalic', serif; }

/***** Related Posts *****/
.rel-post { position: relative; width: 280px; margin: 0 auto; }
.rel-post-text { position: relative; width: 200px; float: right; }
.rel-post-text h4 a, .rel-post-text h4 a:visited { color: #464646; text-decoration: none; font-size: 1.1em; line-height: 1.3em; -webkit-transition: color .2s linear; transition: color .2s linear; font-weight: normal;  }
.rel-post-text h4 a:hover, .rel-post-text h4 a:active { -webkit-transition: color .2s linear; transition: color .2s linear; }
.rel-post-text p { margin: 5px 0 0; font-size: 1.1em; line-height: 1.3em; }
.rel-post-text p a, .rel-post-text p a:visited { text-decoration: none; }
.rel-post-text p a:hover, .rel-post-text p a:active { text-decoration: underline; }
.related { margin: 0 0 20px; }

/***** Comments *****/
#comments, #respond { position: relative; width: 620px; margin: 0 10px; }
#comments h3, #respond h3 { color: #222; font-size: 1.7em; padding: 30px 0 20px; margin: 0 0 20px; border-bottom: 1px solid #d9d9d9; background: url(../gfx/backgrounds/divider.png) no-repeat top left; }
#comments p, #registered p { font-size: 1.2em; line-height: 1.5em; margin: 0 0 20px; }
#comments p a, #comments p a:visited, #registered p a, #registered p a:visited { text-decoration: none; }
#comments p a:hover, #comments p a:active, #registered p a:hover, #registered p a:active { text-decoration: underline; }
#comments strong { color: #464646; }
.commentlist li { border-top: 1px solid #d9d9d9; padding: 20px 0 0; position: relative; }
.commentlist .comment .vcard { position: absolute; top: 20px; left: 0; width: 50px; height: 50px; border: 5px solid #f1f1f1; }
.commentlist .comment .children .vcard { top: 40px; }
.commentlist .bypostauthor {  }
.commentlist .comment .vcard p { margin: 0; line-height: 1; }
.commentlist .comment .comment-cite { font-size: 1.2em; font-weight: bold; font-style: normal; color: #323232; }
.commentlist .comment .comment-cite a, .commentlist .comment .comment-cite a:visited { color: #323232; text-decoration: underline; -webkit-transition: color .2s linear; transition: color .2s linear; }
.commentlist .comment .comment-cite a:hover, .commentlist .comment .comment-cite a:active { -webkit-transition: color .2s linear; transition: color .2s linear; }
.commentlist .comment .comment-body { margin: 0 0 0 80px; position: relative; }
.commentlist .comment .comment-body .comment-meta p { margin: 3px 0 10px !important; font-size: 1.1em !important; line-height: 1 !important; }
.commentlist .comment .comment-body code { font: 100% Monaco, Courier, monospace; background: #f1f1f1; padding: 2px; border-bottom: 1px solid #d9d9d9; border-right: 1px solid #d9d9d9; }
.commentlist .comment .comment-body blockquote { margin: 0 20px; border-left: 3px solid #464646; padding: 0 0 0 10px; font: 115% 'VollkornItalic', serif; color: #222; }
.commentlist .comment .comment-body .reply { position: relative; float: right; }
.commentlist .comment .comment-body .reply p a.comment-reply-link, .commentlist .comment .comment-body .reply p a.comment-reply-link:visited { color: #797979 !important; font-size: 80%; background: url(../gfx/backgrounds/right-gray.png) no-repeat center right; padding: 0 8px 0 0; font-weight: bold; text-transform: uppercase; }
.commentlist .comment .comment-body .reply p a.comment-reply-link:hover, .commentlist .comment .comment-body .reply p a.comment-reply-link:active { text-decoration: underline; }
.commentlist .comment .children { margin: 0 0 0 80px; }
.commentlist .comment .children li { padding: 40px 0 0; background: url(../gfx/backgrounds/bg-comment-thread.gif) no-repeat center top; }
.trackbacklist { list-style: decimal-leading-zero; font-size: 1.2em; line-height: 1.5em; margin: 0 0 0 25px; }
.trackbacklist a, .trackbacklist a:visited { text-decoration: none; }
.trackbacklist a:hover, .trackbacklist a:active { text-decoration: underline; }
.trackbacklist cite a { font-style: normal; }

/***** Contributors Page *****/
.contributors-list { position: relative; width: 620px; margin: 0 10px; }
.contributors-list li { overflow: hidden; padding: 10px; border: 1px solid #d9d9d9; margin: 0 0 20px; }
.contribute-avatar { position: relative; width: 85px; height: 85px; float: left; }
.contribute-text { position: relative; width: 493px; float: right; }
.contribute-avatar a, .contribute-avatar a:visited { display: block; width: 75px; height: 75px; border: 5px solid #f1f1f1; -webkit-transition: border .2s linear; transition: border .2s linear; }
.contribute-avatar a:hover, .contribute-avatar a:active { -webkit-transition: border .2s linear; transition: border .2s linear; }
.contribute-text h3 a, .contribute-text h3 a:visited { font-size: 1.4em; line-height: 1.5em; color: #464646; text-decoration: none; -webkit-transition: color .2s linear; transition: color .2s linear; }
.contribute-text h3 a:hover, .contribute-text h3 a:active { -webkit-transition: color .2s linear; transition: color .2s linear; }
.contribute-text p { font-size: 1.2em; line-height: 1.5em; margin: 10px 0 0; }
.contribute-text p a, .contribute-text p a:visited { text-decoration: none; }
.contribute-text p a:hover, .contribute-text p a:active { text-decoration: underline; }

/***** Form Elements *****/
.form-wrapper { position: relative; width: 620px; margin: 0 0 20px; }
.form-wrapper p { font-size: 1.2em; line-height: 1.5em; margin: 0 0 20px; }
.form-wrapper p a, .form-wrapper p a:visited { text-decoration: none; }
.form-wrapper p a:hover, .form-wrapper p a:active { text-decoration: underline; }
.form-wrapper p code { font: 90% Monaco, Courier, monospace; }
.form-field-wrapper { position: relative; display: block; margin: 0 0 20px; }
.form-wrapper label, .wpcf7 label { display: block; font-size: 1.1em; line-height: 1; font-weight: bold; text-transform: uppercase; margin: 0 0 5px; }
.form-wrapper label em, .wpcf7 label em { font-style: normal; }
.text-input, .post-entry form input[type="text"] { width: 280px; padding: 7px 10px; border: 5px solid #f1f1f1; font: 1.35em/1 "Helvetica Neue", Helvetica, Arial, sans-serif; color: #d9d9d9; }
.text-input:focus { color: #797979; }
.textarea-input, .post-entry form textarea { width: 520px; height: 250px; border: 5px solid #f1f1f1; font: 1.35em/1.5em "Helvetica Neue", Helvetica, Arial, sans-serif; color: #d9d9d9; padding: 7px 10px; overflow: auto; }
.textarea-input:focus, .post-entry form textarea:focus { color: #797979; }
.form-submit { width: 140px; height: 40px; margin: 0 0 20px; background: url(../gfx/backgrounds/periodic-sprite-03.png) no-repeat 0 -340px; font: bold 1.1em/1 "Helvetica Neue", Helvetica, Arial, sans-serif; text-transform: uppercase; color: #797979; margin: 0 0 0 410px; }
.wpcf7 .form-submit { font-size: inherit; }
.form-submit:hover { background-position: 0 -430px; cursor: pointer; }

/***** Contact Form 7 Messages *****/
.wpcf7-response-output { margin: 0 !important; padding: 0 !important; font-size: 1.3em; line-height: 1.7em; }
.wpcf7-validation-errors { color: #ff0000 !important; }
.wpcf7-mail-sent-ok { color: #398f14 !important; }
.wpcf7-validation-errors, .wpcf7-mail-sent-ok { border: none !important; }
.wpcf7-not-valid-tip { background: #ff0000 !important; font-size: 1.3em !important; padding: 5px !important; font-weight: bold; color: #ffffff; }

/***** Sidebar Widgets *****/
.sidebar-widget { position: relative; width: 300px; margin: 0 10px 20px; }
.widget-head { border: 1px solid #d9d9d9; background: #fcfcfc url(../gfx/backgrounds/bg-main-nav.jpg) repeat-x top left; line-height: 40px; color: #222; margin: 0 0 10px; padding: 0 10px; font-size: 1.1em; text-transform: uppercase; }

/***** Widget Unordered List *****/
.sidebar-widget ul { position: relative; margin: -10px 0 0; }
.sidebar-widget li { padding: 10px; border-bottom: 1px solid #d9d9d9; border-right: 1px solid #d9d9d9; border-left: 1px solid #d9d9d9; font-size: 1.15em; line-height: 1.4em; background: #fff; }
.sidebar-widget ul ul { margin: 10px 0 -10px; }
.sidebar-widget li li { font-size: inherit; border-left: none; border-right: none; border-bottom: none; border-top: 1px solid #d9d9d9; padding: 10px 0; }
.sidebar-widget li li li { padding: 10px;}
.sidebar-widget li a, .sidebar-widget li a:visited { color: #464646; text-decoration: none; }
.sidebar-widget li li a {  background: url(../gfx/backgrounds/right-gray.png) no-repeat left 3px; padding: 0 0 0 10px; }

/***** Related Category List *****/
.sidebar-widget .related-category li a { background: url(../gfx/backgrounds/list-arrow.png) no-repeat 0 0.3em; display: block; padding: 0 0 0 15px; }
.sidebar-widget li.highlight { background: #e5e5e5 url(../gfx/backgrounds/bg-button.png) repeat-x 0 0; padding: 5px 10px; }
.sidebar-widget li.highlight a { padding: 0 10px 0 0; display: inline; }
.sidebar-widget li.highlight a:hover { text-decoration: underline; }

/***** Twitter Feed Widget *****/
.sidebar-widget #twitter_update_list li span { display: block; }
.sidebar-widget #twitter_update_list li a, .sidebar-widget #twitter_update_list li a:visited { text-decoration: none; }
.sidebar-widget #twitter_update_list li a:hover, .sidebar-widget #twitter_update_list li a:active { text-decoration: underline; }
.twitter-follow { font-size: 1.15em; line-height: 40px; background: url(../gfx/backgrounds/bg-main-nav.jpg) repeat-x top left; padding: 0 10px; border-bottom: 1px solid #d9d9d9; border-left: 1px solid #d9d9d9; border-right: 1px solid #d9d9d9; }
.twitter-follow a, .twitter-follow a:visited { color: #464646; text-decoration: none; -webkit-transition: color .2s linear; transition: color .2s linear; }
.twitter-follow a:hover, .twitter-follow a:active { -webkit-transition: color .2s linear; transition: color .2s linear;}

/***** Flickr Feed Widget *****/
.sidebar-widget .flickr-feed { position: relative; width: 298px; overflow: hidden; padding: 20px 0 0; border-bottom: 1px solid #d9d9d9; border-left: 1px solid #d9d9d9; border-right: 1px solid #d9d9d9; }
.sidebar-widget .flickr-feed li { float: left; line-height: 0; border: none; padding: 0; }
.sidebar-widget .flickr-feed li a, .sidebar-widget .flickr-feed li a:visited { display: block; width: 75px; height: 75px; border: 5px solid #f1f1f1; margin: 0 7px 20px; -webkit-transition: border .2s linear; transition: border .2s linear; }
.sidebar-widget .flickr-feed li a:hover, .sidebar-widget .flickr-feed li a:active { -webkit-transition: border .2s linear; transition: border .2s linear; }

/***** Widget Form Select *****/
.sidebar-widget select { margin: 0 0 20px; }

/***** Calendar Widget *****/
.sidebar-widget #calendar_wrap { position: relative; width: 300px; }
.sidebar-widget #calendar_wrap #wp-calendar { width: 100%; border-left: 1px solid #d9d9d9; }
.sidebar-widget #wp-calendar caption { font-size: 1.1em; font-weight: bold; color: #323232; padding: 0 0 10px 10px; }
.sidebar-widget #wp-calendar thead, .sidebar-widget #wp-calendar tfoot { background: #f1f1f1; }
.sidebar-widget #wp-calendar tbody { background: #fff; }
.sidebar-widget #wp-calendar th, .sidebar-widget #wp-calendar td { padding: 5px 10px; text-align: center; border-right: 1px solid #d9d9d9; border-bottom: 1px solid #d9d9d9; font-size: 1.1em; color: #464646; }
.sidebar-widget #wp-calendar th { border-top: 1px solid #d9d9d9; }
.sidebar-widget #wp-calendar td a, .sidbar-widget #wp-calendar td a:visited { font-weight: bold; text-decoration: none; }
.sidebar-widget #wp-calendar td a:hover, .sidebar-widget #wp-calendar td a:active { text-decoration: underline; }

/***** Text Widget *****/
.sidebar-widget .textwidget { position: relative; padding: 20px 10px 1px; width: 278px; margin: -10px 0 0; border-bottom: 1px solid #d9d9d9; border-left: 1px solid #d9d9d9; border-right: 1px solid #d9d9d9; background: #fff; }
.sidebar-widget .textwidget p { font-size: 1.15em; line-height: 1.5em; margin: 0 0 20px; }
.sidebar-widget .textwidget p a, .sidebar-widget .textwidget p a:visited { text-decoration: none; }
.sidebar-widget .textwidget p a:hover, .sidebar-widget .textwidget p a:active { text-decoration: underline; }

/***** Recent Video Widget *****/
.sidebar-widget .video-thumb { position: relative; width: 290px; height: 215px; padding: 10px 4px 4px; background: #f1f1f1; border-right: 1px solid #d9d9d9; border-left: 1px solid #d9d9d9; margin: -10px 0 0; }
.sidebar-widget .video-thumb p { line-height: 0; }
.sidebar-widget .play-sidebar, .footer-widget .play-sidebar { position: absolute; top: 78px; left: 115px; }
.sidebar-widget .widget-vid-text { position: relative; width: 298px; background: #f1f1f1; margin: 0 0 20px; border-bottom: 1px solid #d9d9d9; border-right: 1px solid #d9d9d9; border-left: 1px solid #d9d9d9; }
.sidebar-widget .widget-vid-text h4, .sidebar-widget .widget-vid-text p { display: block; text-align: center; }
.sidebar-widget .widget-vid-text h4 { padding: 0 5px 5px; }
.sidebar-widget .widget-vid-text p { background: url(../gfx/backgrounds/bg-post-header.gif) repeat-x 0 0; padding: 5px; line-height: 1.7em; }
.sidebar-widget .widget-vid-text h4 a, .sidebar-widget .widget-vid-text h4 a:visited { color: #464646; text-decoration: none; font-size: 1.1em; line-height: 1.7em; -webkit-transition: color .2s linear; transition: color .2s linear; }
.sidebar-widget .widget-vid-text h4 a:hover, .sidebar-widget .widget-vid-text h4 a:active { -webkit-transition: color .2s linear; transition: color .2s linear; }
.sidebar-widget .widget-vid-text p a, .sidebar-widget .widget-vid-text p a:visited { text-decoration: none; font-size: 1.1em; }
.sidebar-widget .widget-vid-text p a:hover, .sidebar-widget .widget-vid-text p a:active { text-decoration: underline; }

/***** Custom Category Widget *****/
.category-link-list { width: 300px; position: relative; }
.category-link-list li { overflow: hidden; width: 278px; text-align: right; }
.category-link-list li span { margin: 0 0 0 5px; }
.category-link-list li a, .category-link-list li a:visited { color: #464646; text-decoration: none; float: left; font-weight: bold; -webkit-transition: color .2s linear; transition: color .2s linear; }
.category-link-list li a:hover, .category-link-list li a:active { -webkit-transition: color .2s linear; transition: color .2s linear; }

/***** WordPress Search Form Widget *****/
.sidebar-widget #searchform { border-right: 1px solid #d9d9d9; border-left: 1px solid #d9d9d9; border-bottom: 1px solid #d9d9d9; margin: -10px 0 0; padding: 10px; }
.sidebar-widget #searchform div { position: relative; width: 278px; overflow: hidden; }
.sidebar-widget #searchform label { display: none; }
.sidebar-widget #searchform #s { float: left; width: 207px; border-bottom: 1px solid #d9d9d9; border-top: 1px solid #d9d9d9; border-left: 1px solid #d9d9d9; height: 28px; padding: 0 10px; color: #464646; }
.sidebar-widget #searchform #searchsubmit { float: right; width: 50px; border: 1px solid #d9d9d9; height: 30px; background: url(../gfx/backgrounds/bg-button.png) repeat-x 0 0; color: #464646; }
.sidebar-widget #searchform #searchsubmit:hover { color: #222; cursor: pointer; }

/***** Sidebar Tabs *****/
#tab-container { position: relative; width: 280px; margin: 0 10px 20px; background: #f1f1f1; padding: 9px; border: 1px solid #d9d9d9; }
.tab-nav { position: relative; border-bottom: 1px solid #d9d9d9; border-left: 1px solid #d9d9d9; }
.tab-nav li { float: left; height: 28px; }
.tab-nav li a, .tab-nav li a:visited { font-size: 1.1em; font-weight: bold; color: #b7b7b7; text-decoration: none; text-transform: uppercase; padding: 0 11px; background: #e5e5e5 url(../gfx/backgrounds/bg-tabs.png) repeat-x 0 0; border-right: 1px solid #d9d9d9; border-bottom: 1px solid #d9d9d9; border-top: 1px solid #d9d9d9; display: block; line-height: 27px; }
.tab-nav li.ui-tabs-selected a { background: #fff; color: #464646; border-bottom-color: #fff; }
.tab-nav li.ui-tabs-selected a:hover, .tab-nav li.ui-tabs-selected a:active { color: #464646; }
.ui-tabs .ui-tabs-hide { display: none; }
.tab-body { position: relative; background: #fff; border-right: 1px solid #d9d9d9; border-left: 1px solid #d9d9d9; border-right: 1px solid #d9d9d9; border-bottom: 1px solid #d9d9d9; padding: 10px 0 0; }

/***** Sidebar Archive List Tabs *****/
.sidebar-archive { position: relative; width: 278px; }
.sidebar-archive li { padding: 10px; border-top: 1px solid #d9d9d9; overflow: hidden; }
.sidebar-archive li:first-child { padding: 0 10px 10px; border: none; }
.sidebar-archive-thumb { position: relative; width: 70px; height: 70px; float: left; }
.sidebar-archive-thumb a, .sidebar-archive-thumb a:visited { display: block; width: 60px; height: 60px; border: 5px solid #f1f1f1; -webkit-transition: border .2s linear; transition: border .2s linear; }
.sidebar-archive-thumb a:hover, .sidebar-archive-thumb a:active { -webkit-transition: border .2s linear; transition: border .2s linear; }
.sidebar-archive-text { position: relative; width: 180px; float: right; }
.sidebar-archive-text h4 a, .sidebar-archive-text h4 a:visited { color: #464646; text-decoration: none; font-size: 1.1em; line-height: 1.4em; font-weight: normal; -webkit-transition: color .2s linear; transition: color .2s linear; }
.sidebar-archive-text h4 a:hover, .sidebar-archive-text h4 a:active { -webkit-transition: color .2s linear; transition: color .2s linear; }
.sidebar-archive-text p { font: 1.2em/1 'VollkornItalic', serif; margin: 3px 0 0; color: #a5a5a5; }

/***** Sidebar Tags Tab *****/
.wp-tag-cloud { position: relative; width: 260px; overflow: hidden; margin: 0 auto; padding: 0 0 5px; }
.wp-tag-cloud li { float: left; }
.wp-tag-cloud li a, .wp-tag-cloud li a:visited { color: #797979; background: #f1f1f1; text-decoration: none; padding: 3px 9px; -moz-border-radius: 20px; -webkit-border-radius: 20px; -khtml-border-radius: 20px; border-radius: 20px; display: block; margin: 0 5px 5px 0; font-weight: bold; }
.wp-tag-cloud li a:hover, .wp-tag-cloud li a:active { color: #fff; }

/***** 125 Banner Ads *****/
.banner-125 { position: relative; width: 300px; }
.banner-125 a, .banner-125 a:visited { display: block; width: 125px; height: 125px; border: 5px solid #fff; margin: 0 7px 14px; -webkit-transition: border .2s linear; transition: border .2s linear; float: left; }
.banner-125 a:hover, .banner-125 a:active { -webkit-transition: border .2s linear; transition: border .2s linear; }

/***** 300 Banner Ads *****/
.banner-300 { position: relative; width: 300px; height: 250px; overflow: hidden; }

/***** 300 x 600 Banner Ads *****/
.banner-halfpage { position: relative; width: 300px; height: 600px; overflow: hidden; }

/***** 120 Bannder Ads *****/
.banner-120 { position: relative; width: 300px; }
.banner-120 a, .banner-120 a:visited { display: block; width: 120px; height: 240px; border: 5px solid #fff; margin: 0 10px; -webkit-transition: border .2s linear; transition: border .2s linear; float: left; }
.banner-120 a:hover, .banner-120 a:active { -webkit-transition: border .2s linear; transition: border .2s linear; }

/***** 120 Skyscraper Banner Ads *****/
.banner-120-skyscraper { position: relative; width: 300px; }
.banner-120-skyscraper a, .banner-120-skyscraper a:visited { display: block; width: 120px; height: 600px; border: 5px solid #fff; margin: 0 10px; -webkit-transition: border .2s linear; transition: border .2s linear; float: left; }
.banner-120-skyscraper a:hover, .banner-120-skyscraper a:active { -webkit-transition: border .2s linear; transition: border .2s linear; }

/***** Periodic Search Form *****/
.search-form { position: relative; width: 300px; height: 30px; margin: 0 0 20px; background: url(../gfx/backgrounds/periodic-sprite-03.png) no-repeat 0 -240px; padding: 10px; }
.search-form label { display: none; }
.search-form #s { position: relative; width: 255px; background: none; padding: 7px 35px 7px 10px; color: #e0e0e0; font: 1.35em/1 Arial, "Helvetica Neue", Helvetica, sans-serif; }
.search-form #s:focus { color: #fff; }
.search-form #search-submit { position: absolute; top: 18px; right: 20px; }

/***** Search Results *****/
#search-message { position: relative; width: 620px; margin: 0 10px 20px; }
#search-message p, #search-message ul { font-size: 1.2em; line-height: 1.6em; margin: 0 0 10px; }
#search-message ul { margin: 0 0 20px 30px; }
#search-message li { background: url(../gfx/backgrounds/check.png) no-repeat left .4em; padding: 0 0 0 20px; }
#search-results { position: relative; width: 620px; margin: 0 10px 20px; border-top: 1px solid #d9d9d9; }
.search-result { position: relative; width: 598px; border-bottom: 1px solid #d9d9d9; border-right: 1px solid #d9d9d9; border-left: 1px solid #d9d9d9; padding: 10px; }
.search-thumb { position: relative; width: 140px; height: 140px; float: left; }
.search-thumb a, .search-thumb a:visited { display: block; width: 130px; height: 130px; border: 5px solid #f1f1f1; -webkit-transition: border .2s linear; transition: border .2s linear; }
.search-thumb a:hover, .search-thumb a:active { -webkit-transition: border .2s linear; transition: border .2s linear;}
.search-thumb .hot-topic { bottom: 5px; left: 5px; }
.search-text { position: relative; width: 438px; float: right; }
.search-text h3 a, .search-text h3 a:visited { color: #464646; text-decoration: none; font-size: 1.2em; line-height: 1.5em; -webkit-transition: color .2s linear; transition: color .2s linear; }
.search-text h3 a:hover, .search-text h3 a:active { -webkit-transition: color .2s linear; transition: color .2s linear; }
.search-text p { margin: 10px 0 0; font-size: 1.2em; line-height: 1.5em; }
.search-text .meta-data { font-size: 1.1em; }
.search-text p a, .search-text p a:visited { text-decoration: none; }
.search-text p a:hover, .search-text p a:active { text-decoration: underline; }
.search-text p strong { color: #464646; }

/***** Misc *****/
.right-arrow { padding: 0 9px 0 0; }
.scroll-top { display: block; width: 40px; height: 40px; text-indent: -9999px; background: url(../gfx/backgrounds/periodic-sprite-03.png) no-repeat 0 -520px; }
.scroll-top:hover { background-position: 0 -610px; }
.rss { background: url(../gfx/backgrounds/periodic-sprite.png) no-repeat 0 -658px; padding: 1px 0 2px 21px; }
.last { margin: 0 !important; }
.play-button { display: block; width: 70px; height: 70px; text-indent: -9999px; background: url(../gfx/backgrounds/periodic-sprite-03.png) no-repeat 0 0; }
.play-button:hover { background-position: 0 -120px; }
.error-message { font-size: 1.2em; }
.divider { border-bottom: 1px solid #d9d9d9; }
.meta-info { font: 1.1em/1 'VollkornItalic', serif; display: block; color: #a5a5a5; margin: 5px 0 0 15px; }

/* Footer */
#footer { position: relative; width: 960px; margin: 0 auto; padding: 30px 0 0; background: url(../gfx/backgrounds/periodic-sprite-03.png) no-repeat 0 -700px; }
#footer-columns { position: relative; width: 960px; }
.footer-column { position: relative; width: 300px; margin: 0 10px; float: left; }
#footer h3 { color: #222; font-size: 1.2em; margin: 0 0 20px; }
#footer p, #footer li { font-size: 1.2em; line-height: 1.6em; margin: 0 0 10px; }
#footer li li { font-size: inherit; margin: 10px 0 0; }
#footer .children { margin: 0 0 0 10px; list-style: circle; }
#footer a, #footer a:visited { text-decoration: none; }
#footer a:hover, #footer a:active { text-decoration: underline; }

/***** Copyright *****/
#copyright { position: relative; width: 920px; margin: 20px 10px 0; }
#copyright p { margin: 0; }

/***** Footer Widgets *****/
.footer-widget { position: relative; width: 300px; margin: 0 0 40px; }

/***** Footer Twitter Widget *****/
.footer-widget #twitter_update_list li { border-bottom: 1px dotted #bbb; padding: 0 0 10px; }
.footer-widget #twitter_update_list li span { display: block; }
.footer-widget .twitter-follow { font-size: inherit; background-image: none; padding: 0; border: none; margin: 15px 0 0; }

/***** Footer Flickr Feed Widget *****/
.footer-widget .flickr-feed { position: relative; width: 300px; overflow: hidden; }
.footer-widget .flickr-feed li { float: left; margin: 0 !important; }
.footer-widget .flickr-feed li a, .footer-widget .flickr-feed li a:visited { display: block; width: 75px; height: 75px; border: 5px solid #fff; margin: 0 15px 15px 0; -webkit-transition: border .2s linear; transition: border .2s linear; }
.footer-widget .flickr-feed li a:hover, .footer-widget .flickr-feed li a:active { -webkit-transition: border .2s linear; transition: border .2s linear; }

/***** Footer 125 Banner Ad Widget *****/
.footer-widget .banner-125 a, .footer-widget .banner-125 a:visited { margin: 0 15px 15px 0; border: 5px solid #fff; -webkit-transition: border .2s linear; transition: border .2s linear; }
.footer-widget .banner-125 a:hover, .footer-widget .banner-125 a:active { -webkit-transition: border .2s linear; transition: border .2s linear; }

/***** Footer 120 Banner Ad Widget *****/
.footer-widget .banner-120 a, .footer-widget .banner-120 a:visited { margin: 0 20px 0 0; border: 5px solid #fff; -webkit-transition: border .2s linear; transition: border .2s linear; }
.footer-widget .banner-120 a:hover, .footer-widget .banner-120 a:active { -webkit-transition: border .2s linear; transition: border .2s linear; }

/***** Footer Recent Video Widget *****/
.footer-widget .video-thumb { position: relative; background: #fff; padding: 5px; -webkit-box-shadow: 1px 1px 3px #c3c3c3; -moz-box-shadow: 1px 1px 3px #c3c3c3; box-shadow: 1px 1px 3px #c3c3c3; margin: 0 0 10px; }
.footer-widget .video-thumb p { margin: 0 !important; line-height: 1 !important; }
.footer-widget .widget-vid-text h4 a { font-size: 1.2em; }

/***** Footer Calendar Widget *****/
.footer-widget #calendar_wrap { position: relative; width: 300px; }
.footer-widget #calendar_wrap #wp-calendar { width: 100%; border-left: 1px solid #d9d9d9; }
.footer-widget #wp-calendar caption { font-size: 1.1em; font-weight: bold; color: #222; padding: 0 0 10px; text-align: center; }
.footer-widget #wp-calendar thead, .footer-widget #wp-calendar tfoot { background: #eaeaea; }
.footer-widget #wp-calendar th, .footer-widget #wp-calendar td { padding: 5px 10px; text-align: center; border-right: 1px solid #d9d9d9; border-bottom: 1px solid #d9d9d9; font-size: 1.1em; color: #464646; }
.footer-widget #wp-calendar th { border-top: 1px solid #d9d9d9; }
.footer-widget #wp-calendar td a, .footer-widget #wp-calendar td a:visited { font-weight: bold; }

/***** Footer WordPress Search Form Widget *****/
.footer-widget #searchform { border:1px solid #bbb; margin: -10px 0 0; padding: 10px; }
.footer-widget #searchform div { position: relative; width: 278px; overflow: hidden; }
.footer-widget #searchform label { display: none; }
.footer-widget #searchform #s { float: left; width: 207px; border-bottom: 1px solid #d9d9d9; border-top: 1px solid #d9d9d9; border-left: 1px solid #d9d9d9; height: 28px; padding: 0 10px; color: #464646; }
.footer-widget #searchform #searchsubmit { float: right; width: 50px; border: 1px solid #d9d9d9; height: 30px; background: url(../gfx/backgrounds/bg-button.png) repeat-x 0 0; color: #464646; }
.footer-widget #searchform #searchsubmit:hover { color: #222; cursor: pointer; }

/***** Paginiation *****/
.pagination { position: relative; width: 620px; margin: 0 10px 20px; }
#comments .pagination { margin: 0 0 20px; }
.default-paging { position: relative; margin: 20px 0 0; border: 1px solid #d9d9d9; background: #fcfcfc url(../gfx/backgrounds/bg-main-nav.jpg) repeat-x bottom left; overflow: hidden; }
.default-paging p { line-height: 3em !important; font-size: 1.1em !important; font-weight: bold; margin: 0 !important; }
.default-paging p.alignleft { padding: 0 18px 0 15px; background: url(../gfx/backgrounds/pipe-mainnav.gif) repeat-y top right; }
.default-paging p.alignright { padding: 0 15px 0 18px; background: url(../gfx/backgrounds/pipe-mainnav.gif) repeat-y top left;}
.default-paging a, .default-paging a:visited { color: #797979 !important; text-decoration: none !important; }
.default-paging a:hover, .default-paging a:active { color: #323232 !important; }

/***** WP-Pagenvi *****/
.wp-pagenavi { position: relative; margin: 20px 0 0; border: 1px solid #d9d9d9; background: #fcfcfc url(../gfx/backgrounds/bg-main-nav.jpg) repeat-x bottom left; overflow: hidden; }
.wp-pagenavi .pages, .wp-pagenavi .current, .wp-pagenavi .page, .wp-pagenavi .nextpostslink, .wp-pagenavi .previouspostslink, .wp-pagenavi .first, .wp-pagenavi .extend, .wp-pagenavi .last { padding: 0 18px 0 15px; background: url(../gfx/backgrounds/pipe-mainnav.gif) repeat-y top right; line-height: 3em; display: block; float: left; font-size: 1.1em; font-weight: bold; }
.wp-pagenavi a, .wp-pagenavi a:visited { color: #797979; text-decoration: none; }

/***** Comments Pagination *****/
.comment-pagination { position: relative; padding: 0 0 20px; font-size: 1.2em; color: #222; font-weight: bold; }
.comment-pagination a, .comment-pagination a:visited { margin: 0 8px 0 0; text-decoration: none; }
.comment-pagination a:hover, .comment-pagination a:active { text-decoration: underline; }
.comment-pagination .current { margin: 0 8px 0 0; }

/***** Post & Page Pagination *****/
.post-pager { border-top: 1px solid #d9d9d9; font-family: 'VollkornItalic', serif; color: #222; padding: 10px 0 0; font-size: 1.4em !important; }
.post-pager span { margin: 0 5px 0 0; }
.post-pager a { margin: 0 5px; }

/***** 404 Error *****/
#error-message { position: relative; width: 940px; margin: 0 10px; }
#error-message p { font-size: 1.3em; line-height: 1.7em; }
#error-message .apology { font-size: 2em; margin: 0 0 20px; }
#error-message .search-form { margin: 5px 0 20px -10px; }
#error-columns { position: relative; width: 960px; margin: 20px 0 0; padding: 0 0 20px; }
.error-column { position: relative; float: left; width: 220px; margin: 0 10px; }
.error-column h2 { font-size: 1.3em; margin: 0 0 5px; }
.error-column li { border-bottom: 1px dotted #d9d9d9; padding: 10px 0; }
.error-column li li { border-top: 1px dotted #d9d9d9; border-bottom: none; }
.error-column .children { margin: 10px 0 -10px; }
.error-column li a, .error-column li a:visited { color: #797979; font-size: 1.2em; text-decoration: none; background: url(../gfx/backgrounds/list-arrow.png) no-repeat 0 2px; padding: 0 0 0 15px; }


/* Les thématiques */

/*
    Cinéma :      #ff5800
    Théatre :     #f31d73
    Concert :     #9401fd
    Restaurant :  #00a1de
    Association : #ff0000
    Tourisme :    #72d718
 */
#mainnav-bar ul ul li a {border-bottom:inherit;}

#mainnav-bar li.cinema a      {border-color:#ff5800;}
#mainnav-bar li.theatre a     {border-color:#f31d73;}
#mainnav-bar li.concert a     {border-color:#9401fd;}
#mainnav-bar li.restaurant a  {border-color:#00a1de;}
#mainnav-bar li.association a {border-color:#ff0000;}
#mainnav-bar li.tourisme a    {border-color:#72d718;}


.category-link-list li             {border-left:3px solid #444;}
.category-link-list li.cinema      {border-left:3px solid #ff5800;}
.category-link-list li.theatre     {border-left:3px solid #f31d73;}
.category-link-list li.concert     {border-left:3px solid #9401fd;}
.category-link-list li.restaurant  {border-left:3px solid #00a1de;}
.category-link-list li.association {border-left:3px solid #ff0000;}
.category-link-list li.tourisme    {border-left:3px solid #72d718;}

.featured-text h2.cinema a      { background-position : 0 -162px; }
.featured-text h2.theatre a     { background-position : 0 -243px; }
.featured-text h2.concert a     { background-position : 0 -324px; }
.featured-text h2.restaurant a  { background-position : 0 0; }
.featured-text h2.association a { background-position : 0 -405px; }
.featured-text h2.tourisme a    { background-position : 0 -81px; }

.home-column h3 a, 
.home-column.cinema h3 a,
.home-column.theatre h3 a,
.home-column.concert h3 a,
.home-column.restaurant h3 a,
.home-column.association h3 a,
.home-column.tourisme h3 a  {color:#444;}

.home-column.cinema h2 a {
    background: url("../gfx/backgrounds/orange-arrow.png") no-repeat scroll right center transparent;
}
.home-column.cinema a {color:#ff5800;}

.home-column.theatre h2 a {
    background: url("../gfx/backgrounds/pink-arrow.png") no-repeat scroll right center transparent;
}
.home-column.theatre a {color:#f31d73;}

.home-column.concert h2 a {
    background: url("../gfx/backgrounds/purple-arrow.png") no-repeat scroll right center transparent;
}
.home-column.concert a {color:#9401fd;}

.home-column.restaurant h2 a {
    background: url("../gfx/backgrounds/blue-arrow.png") no-repeat scroll right center transparent;
}
.home-column.restaurant a {color:#00a1de;}

.home-column.association h2 a {
    background: url("../gfx/backgrounds/red-arrow.png") no-repeat scroll right center transparent;
}
.home-column.association a {color:#ff0000;}

.home-column.tourisme h2 a {
    background: url("../gfx/backgrounds/green-arrow.png") no-repeat scroll right center transparent;
}
.home-column.tourisme a {color:#72d718;}


#slider-nav {display:none;}


.home-column h2 a {font-size:14px;}
.home-column h3 a, .home-column h3 a:visited {font-size:13px;}

.banner-300 {background-color:white;text-align:center;width:300px;height:250px;vertical-align:middle;line-height:250px;}

#post-header {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    margin: 0 10px 20px;
    overflow: hidden;
    padding: 10px 0 0;
    position: relative;
    width: 618px;
}

.header-title {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    padding: 10px;
    position: relative;
}
.post-left-column {display:none;}

.post-entry {
    position: relative;
    width:auto;
    float:none;
    text-align:justify;
}
#post-data {display:none;}

#gallery-1 {
    margin: auto;
}
#gallery-1 .gallery-item {
    float: left;
    margin-top: 10px;
    text-align: center;
    width: 33%;
}
#gallery-1 img {
    border: 2px solid #CFCFCF;
}
#gallery-1 .gallery-caption {
    margin-left: 0;
}

/*
Periodic Dark Spectrum Pink Theme
*/

/***** Structure *****/
body { background: #e0e0e0 url(../gfx/backgrounds/bg-darkheader.gif) repeat-x 0 0; }
#angles { background: url(../gfx/backgrounds/bg-macon.jpg) no-repeat center top; }

/***** Utility Banner *****/
#utility-banner { background: #000; }

/***** Utility Banner Navigation *****/
#utility-banner li a, #utility-banner li a:visited { color: #e0e0e0; }
#utility-banner li a:hover, #utility-banner li a:active { color: #fff; }

/***** Utility Banner Dropdown Menu *****/
#utility-banner ul ul li a:hover, #utility-banner ul ul li a:active { background: #444444; }

/***** Main Nav Bar *****/
#mainnav-bar { width: 958px; }

/***** Pink *****/
.category-block h3 a:hover, .category-block h3 a:active,
.category-link-list li a:hover, .category-link-list li a:active,
.archive-text h3 a:hover, .archive-text h3 a:active,
.archive-text h4 a:hover, .archive-text h4 a:active,
.rel-post-text h4 a:hover, .rel-post-text h4 a:active,
.commentlist .comment .comment-cite a:hover, .commentlist .comment .comment-cite a:active,
.sidebar-archive-text h4 a:hover, .sidebar-archive-text h4 a:active,
.search-text h3 a:hover, .search-text h3 a:active,
.lead-text p a, .lead-textp a:visited,
.older-text p a, .older-text p a:visited,
#post-data p a, #post-data p a:visited,
#post-data-wide p a, #post-data-wide p a:visited,
#author-text p a, #author-text p a:visited,
#archived-author-text p a, #archived-author-text p a:visited,
.archive-text p a, .archive-text p a:visited,
.rel-post-text p a, .rel-post-text p a:visited,
#comments p a, #comments p a:visited, .form-wrapper label em, .wpcf7 label em,
.post-entry p a, .post-entry li a,
.post-entry p a:visited, .post-entry li a:visited,
.sidebar-widget #wp-calendar td a, .sidbar-widget #wp-calendar td a:visited,
.sidebar-widget #twitter_update_list li a, .sidebar-widget #twitter_update_list li a:visited,
#footer a, #footer a:visited,
.search-text p a, .search-text p a:visited,
.error-column li a:hover, .error-column li a:active,
.sidebar-widget .widget-vid-text p a, .sidebar-widget .widget-vid-text p a:visited,
.sidebar-widget .widget-vid-text h4 a:hover, .sidebar-widget .widget-vid-text h4 a:active,
.sidebar-widget li a:hover, .sidebar-widget li a:active,
#breadcrumbs p a:hover, #breadcrumbs p a:active,
.tab-nav li a:hover, .tab-nav li a:active,
.twitter-follow a:hover, .twitter-follow a:active,
.sidebar-widget .textwidget p a, .sidebar-widget .textwidget p a:visited,
#breadcrumbs p a, #breadcrumbs p a:visited,
.form-submit:hover,
.wp-pagenavi .current,
.wp-pagenavi a:hover, .wp-pagenavi a:active,
.sidebar-widget li.highlight a,
.published p a, .published p a:visited,
.home-column h2 a,
.home-column h3 a:hover, .home-column h3 a:active,
.home-column p a, .home-column p a:visited,
.contribute-text p a, .contribute-text p a:visited,
.contribute-text h3 a:hover, .contribute-text h3 a:active,
.form-wrapper p a, .form-wrapper p a:visited,
#registered p a, #registered p a:visited,
.post-entry table td a, .post-entry table td a:visited,
.home-blog-text h3 a:hover, .home-blog-text h3 a:active,
.home-blog-text p a, .home-blog-text p a:visited,
.comment-pagination a,
.trackbacklist a { color: #444444; }

/***** Featured Banner *****/
.featured-text h2 a { background: url(../gfx/backgrounds/periodic-sprite-01.png) no-repeat 0 -243px; }

/***** Hot Topic *****/
.hot-topic { background: url(../gfx/backgrounds/periodic-sprite-01.png) no-repeat 0 -726px; }

/***** Video Article *****/
.video-article { background: url(../gfx/backgrounds/bg-video-camera.png) no-repeat 0 -105px; }

/***** Right Pink Arrow *****/
.right-arrow,
.sidebar-widget li.highlight a,
.home-column h2 a { background: url(../gfx/backgrounds/pink-arrow.png) no-repeat right center; }

/****** Pink Border ******/
.sidebar-archive-thumb a:hover, .sidebar-archive-thumb a:active,
.masthead-banner a img:hover, .masthead-banner a img:active,
.banner-120 a:hover, .banner-120 a:active,
.banner-125 a:hover, .banner-125 a:active,
.footer-widget .flickr-feed li a:hover, .footer-widget .flickr-feed li a:active,
.footer-widget .banner-125 a:hover, .footer-widget .banner-125 a:active,
.footer-widget .banner-120 a:hover, .footer-widget .banner-120 a:active,
.archive-thumb a:hover, .archive-thumb a:active,
.sidebar-widget .flickr-feed li a:hover, .sidebar-widget .flickr-feed li a:active,
.lead-thumb a:hover, .lead-thumb a:active,
#banner-728 a img:hover, #banner-728 a img:active,
.contribute-avatar a:hover, .contribute-avatar a:active,
.search-thumb a:hover, .search-thumb a:active,
.banner-120-skyscraper a:hover, .banner-120-skyscraper a:active { border-color: #444444; }

/***** Pink Background Color *****/
.wp-tag-cloud li a:hover, .wp-tag-cloud li a:active { background: #444444; }

/***** Pink Home Page Category Link *****/
.archive-link a:hover, .archive-link a:active { background-position: 0 -360px; }

div.wpcf7 {
	margin: 0;
	padding: 0;
}

div.wpcf7-response-output {
	margin: 2em 0.5em 1em;
	padding: 0.2em 1em;
}

div.wpcf7-mail-sent-ok {
	border: 2px solid #398f14;
}

div.wpcf7-mail-sent-ng {
	border: 2px solid #ff0000;
}

div.wpcf7-spam-blocked {
	border: 2px solid #ffa500;
}

div.wpcf7-validation-errors {
	border: 2px solid #f7e700;
}

span.wpcf7-form-control-wrap {
	position: relative;
}

span.wpcf7-not-valid-tip {
	position: absolute;
	top: 20%;
	left: 20%;
	z-index: 100;
	background: #fff;
	border: 1px solid #ff0000;
	font-size: 10pt;
	width: 280px;
	padding: 2px;
}

span.wpcf7-not-valid-tip-no-ajax {
	color: #f00;
	font-size: 10pt;
	display: block;
}

span.wpcf7-list-item {
	margin-left: 0.5em;
}

.wpcf7-display-none {
	display: none;
}

div.wpcf7 img.ajax-loader {
	border: none;
	vertical-align: middle;
	margin-left: 4px;
}

div.wpcf7 .watermark {
	color: #888;
}

.photos-list { margin-bottom:10px;}
.photos-list .sidebar-archive-thumb {margin-right:10px;}

.search-form-big p {margin-bottom:10px;}
.search-form-big ul li { list-style-type:none; }
.post-entry.search-form-big table {border:0;}
.post-entry.search-form-big table td {border:0;}


/* showtimes in place */
.showtimes-in-place{
    margin-top:20px;
    margin-left:10px;
}
.showtimes-in-place h3{
    color:#222222;
    font-size:20px;
}
.showtimes-in-place .block{
    overflow:hidden;
    margin-top:20px;
}
.showtimes-in-place .poster{
    float:left;
    width:100px;
    margin-right:10px;
}
.showtimes-in-place br._b{
    clear:both;
}
.showtimes-in-place h4{
    font-size: 1.5em;
    margin-bottom:5px;
}
.showtimes-in-place table{
    border-left: 1px solid #D9D9D9;
    width: 500px;
}
.showtimes-in-place thead{
    background: none repeat scroll 0 0 #F1F1F1;
}
.showtimes-in-place tbody{
    background: none repeat scroll 0 0 #FFFFFF;
}
.showtimes-in-place th {
    border-top: 1px solid #D9D9D9;
}
.showtimes-in-place th,
.showtimes-in-place td{
    border-bottom: 1px solid #D9D9D9;
    border-right: 1px solid #D9D9D9;
    color: #464646;
    font-size: 1.1em;
    padding: 5px 10px;
    text-align: center;
}

/* showtimes in film */
.showtimes-in-film{
    margin-left:10px;
}
.showtimes-in-film h3{
    color: #222222;
    font-size:20px;
}
.showtimes-in-film .block {
    margin-top:20px;
}
.showtimes-in-film h4{
    font-size: 1.5em;
    margin-bottom:5px;
}
.showtimes-in-film table{
    border-left: 1px solid #D9D9D9;
    width: 600px;
}
.showtimes-in-film thead{
    background: none repeat scroll 0 0 #F1F1F1;
}
.showtimes-in-film tbody{
    background: none repeat scroll 0 0 #FFFFFF;
}
.showtimes-in-film th {
    border-top: 1px solid #D9D9D9;
}
.showtimes-in-film th,
.showtimes-in-film td{
    border-bottom: 1px solid #D9D9D9;
    border-right: 1px solid #D9D9D9;
    color: #464646;
    font-size: 1.1em;
    padding: 5px 10px;
    text-align: center;
}

#archived-posts li.liasso{
	height: 74px;
	line-height: 1;
	overflow: hidden;
}