{% load i18n cms_admin %}
<div id="sitemap" style="display:none">
<ul class="header">
	<li>
		<div class="cont">
			<div class="col1">{% trans "Title" %}</div>
			<div class="col2">
				<div class="col-actions">{% trans "Actions" %}</div>	
				<div class="col-navigation">Dans la navigation ?</div>
				{% if CMS_MODERATOR %}<div class="col-moderator">{% trans "moderate" %}</div>{% endif %}
				
				{% if CMS_MODERATOR %}<div class="col-draft">{% trans "draft" %}</div>{% endif %}
				<div class="col-published">Publiée</div>
				
				<div class="col-published">Début</div>
				<div class="col-published">Fin</div>
				
				{% if CMS_MODERATOR %}<div class="col-lastchange">{% trans "last changes" %}</div>{% endif %}
				<div class="col-creator">Modifiée par</div>
			</div>
		</div>
	</li>
</ul>
<div class="tree{% if not CMS_PERMISSION or has_add_permission %} root_allow_children{% endif %}">
	<ul class="tree-default">
		{% for page in cl.get_items %}{% show_admin_menu page %}{% endfor %}
	</ul>
</div>
</div>