{% extends "movies/base_movie.html" %}

{% load i18n thumbnail %}


{% block page_movie_title %}{{ object.title }}{% endblock %}

{% block content_movie %}
<div id="post-header">
    <div class="post-title clear">
        <div class="header-title">
            <h1>{{ object.title }}</h1>
        </div>
    </div>
</div>

<div class="published">
    <p>Date de sortie : {{ object.release_date|date:"j F Y" }}</p>
</div>

<div class="post-columns clear">
    <div class="post type-post status-publish format-standard hentry category-movies category-videos tag-action-movie tag-captain-america tag-comic-book-movie tag-movie-trailers tag-the-avengers post-460 post-entry">
        <div class="wp-caption alignright" style="padding:10px">
            <a title="{{ object.title }}" href="{{ object.image.url}}" rel="fancybox-gallery">
                {% thumbnail object.image "220x300" as im %}<img title="{{ object.title }}" alt="{{ object.title }}" class="size-medium" src="{{ im.url }}">{% endthumbnail %}
            </a>
        </div>
        
        {{ object.content|safe }}
        
        <div class="clear"></div>
        {% comment %}
        {% if object.get_current_showtimes|length > 0 %}
        
        <h3>Les séances disponibles :</h3>
        
        {% for s in object.get_current_showtimes %}
        <div>
            <h5><a title="{{ s.place }}" href="{{ s.place.get_absolute_url }}">{{ s.place }}</a></h5>
            <blockquote style="margin-bottom:20px" class="pullquote" style="width:auto">
                <p>{{ s.content|linebreaksbr }}</p>
            </blockquote>
            <br style="clear: both;">
            <hr/>
        </div>
        {% endfor %}

        

        <!-- MODIFS -->

        {% regroup object.get_current_showtimes by place as places_list %}

        <div class="showtimes-in-film">
            <h3>Programmation du mercredi 11 juillet au mardi 17 juillet 2012</h3>

            {% for p in places_list %}
            <div class="block">
                <h4>{{ p.grouper }}</h4>
                <table>
                    <thead>
                        <tr>
                            <th>Mercredi</th>
                            <th>Jeudi</th>
                            <th>Vendredi</th>
                            <th>Samedi</th>
                            <th>Dimanche</th>
                            <th>Lundi</th>
                            <th>Mardi</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {% for i in 3456712|make_list %}
                            <td>
                            {% for item in p.list %}
                            {% if item.start_date.isoweekday|lower == i %}
                                <i>({{ item.start_date|date:"d/m" }})</i><br/>
                                {{ item.content|linebreaksbr }}
                            
                            {% endif %}
                            {% endfor %}
                            </td>
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>
            {% endfor %}
        </div>


        <!-- FIN MODIFS -->

        {% endif %}
        {% endcomment %}

        {% if showtimes.places|length > 0%}
        <div class="showtimes-in-film">
            <h3>Programmation du {{ showtimes.start_date }} au {{ showtimes.end_date }}</h3>

            {% for p in showtimes.places %}
            <div class="block">
                <h4>{{ p.place }}</h4>
                <table>
                    <thead>
                        <tr>
                            {% for t in p.dates %}
                            <th width="14.2%">{{ t.date|date:"l d/m"|capfirst }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {% for t in p.dates %}
                            <td>
                            {{ t.showtime|linebreaksbr}}
                            </td>
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        
    </div>
</div>

{% endblock %}

