{% load cms_tags zutils %}

<html>
  <body>
      <div type="TextPlugin" rel="base_content" class="cms_plugin_holder cms_plugin_content" id="cms_plugin_{{ current_page.id }}_content" style="float: none; clear: none;">
          {{ current_page.get_content|render_to_html|safe }}
</div>
      
   {% placeholder base_content %}
   {% block base_content%}{% endblock %}
  </body>
</html>