{% extends 'right-column.html' %}
{% load zutils thumbnail %}

{% block left_column %}
<div id="page-title">
    <h1>Rechercher</h1>
</div>

<div id="search-message">
{% if query and page.object_list|length > 0 %}
    <p><strong>{{ page.object_list|length }} résultat{{ page.object_list|length|pluralize }} trouvé{{ page.object_list|length|pluralize }}</strong></p>
{% else %}
    <p><strong>Aucun résultat trouvé...</strong></p>
{% endif %}
</div>
<div class="post-entry post-620 search-form-big">
    <form method="get" action=".">
        <table>
            {{ form.as_p }}
            <tr>
                <td>&nbsp;</td>
                <td>
                    <input type="submit" value="Rechercher">
                </td>
            </tr>
        </table>
    </form>
</div>

<div id="search-results">
    {% if query %}
        {% for result in page.object_list %}
            <div class="post type-post search-result clear">
                {% if result.object.image %}
                <div class="search-thumb">
                <a href="{{ result.object.get_absolute_url }}">{% thumbnail result.object.image "130x130" crop="center" as im %}<img src="{{ im.url }}" class="attachment-thumbnail-search wp-post-image" alt="{{ object.title }}" title="{{ object.title }}" />{% endthumbnail %}</a>
                </div>
                {% endif %}
                <div class="search-text">
                    <h3><a href="{{ result.object.get_absolute_url }}">{{ result.object.title }}</a></h3>
                    <p>
                        {{ result.object.content|removetags:"img IMG"|safe|truncatewords_html:20 }}
                    </p>
                </div>
            </div>
        {% endfor %}
        
        {% if page.has_previous or page.has_next %}
        <div class="pagination">
            <div class="wp-pagenavi">
                {% if page.has_previous %}
                <a href="?q={{ query }}&amp;page={{ page.previous_page_number }}" class="previouspostslink">« Précédent</a>
                {% endif %}
                {% if page.has_next %}
                <a href="?q={{ query }}&amp;page={{ page.next_page_number }}" class="nextpostslink">Suivant »</a>
                {% endif %}
            </div>
        </div>
        {% endif %}
        
    {% endif %}
</div>
{% endblock %}