{% extends "news/base_news.html" %}

{% load i18n %}


{% block content_news %}
    <h1>L'actualité du {{ day }}</h1>
    
    {% for object in object_list %}
    <div class="news">
        <h2><a href="{{ object.get_absolute_url }}" title="{{ object.title }}">{{ object.title }}</a></h2>
        <p>
            {{ object.excerpt }}
        </p>
        <p style="text:align:right">
            <a href="{{ object.get_absolute_url }}">Lire la suite</a>
        </p>
    </div>
    {% endfor %}
{% endblock %}
