{% extends "right-column.html" %}

{% block page_title %}
    Erreur 404
{% endblock %}

{% block left_column%}
	<div id="post-header">
	    <div class="post-title clear">
	        <div class="header-title">
	            <h1>Erreur 404 : Page non trouvée</h1>
	        </div>
	    </div>
	</div>

    <div style="font-size: 1.2em; line-height: 1.6em; margin-top: 10px; padding-left: 21px; width: 500px;">
        Erreur 404 : Page non trouvée,<br />
        L'URL que vous avez demandée n'a pas été trouvée.<br />
    </div>
{% endblock %}

