{% extends "right-column.html" %}

{% block page_title %}
    Erreur 500
{% endblock %}

{% block left_column%}
	<div id="post-header">
	    <div class="post-title clear">
	        <div class="header-title">
	            <h1>Erreur 500 - Erreur serveur</h1>
	        </div>
	    </div>
	</div>
    <div style="font-size: 1.2em; line-height: 1.6em; margin-top: 10px; padding-left: 21px; width: 500px;">
        Erreur 500 - Erreur serveur.<br />
    </div>
{% endblock %}