

<div class="sidebar-widget wap8_custom_categories_widget">
    <h3 class="widget-head">L'actualité par thématique</h3>
    <ul class="category-link-list">
        {% for category in categories %}
        <li class="cat-item {{ category.classname }}">
            <a title="L'actualité cinéma sur Macon" href="{% url news_archive_category_index category.slug %}">{{ category }}</a>
        </li>
        {% endfor %}
    </ul>
</div>