{% load cms_tags zutils %}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="fr-FR" xml:lang="fr-FR">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{% block page_title %}{% page_attribute "page_title" %}{% endblock %}</title>
    <meta name="description" content="{% page_attribute "meta_description" %}" />
    <meta name="keywords" content="{% page_attribute "meta_keywords" %}" />
    <meta name="google-site-verification" content="HqqQjSDw7jh5yxRWFjq21xa5QlltiUF-SFmzn7lUy4M" />
    
    {# Core Stylesheet #}
    <link rel="stylesheet" href="{% zmedia_prefix %}css/styles.css" type="text/css" media="screen" />
    
    <link rel='stylesheet' id='fancybox-styles-css'  href='{% zmedia_prefix %}css/jquery.fancybox-1.3.4.css?ver=1.3.4' type='text/css' media='screen' />
    
    <link rel='stylesheet' id='periodic-print-css'  href='{% zmedia_prefix %}css/print.css?ver=2.4.1' type='text/css' media='print' />
    
    
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-10786467-7']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <script type='text/javascript'>
    var googletag = googletag || {};
    googletag.cmd = googletag.cmd || [];
    (function() {
    var gads = document.createElement('script');
    gads.async = true;
    gads.type = 'text/javascript';
    var useSSL = 'https:' == document.location.protocol;
    gads.src = (useSSL ? 'https:' : 'http:') + 
    '//www.googletagservices.com/tag/js/gpt.js';
    var node = document.getElementsByTagName('script')[0];
    node.parentNode.insertBefore(gads, node);
    })();
    </script>

    <script type='text/javascript'>
    googletag.cmd.push(function() {
    googletag.defineSlot('/1019292/SAM_Pavé_Bas', [300, 250], 'div-gpt-ad-1362993442600-0').addService(googletag.pubads());
    googletag.pubads().enableSingleRequest();
    googletag.enableServices();
    });

    googletag.cmd.push(function() {
    googletag.defineSlot('/1019292/SAM_Pavé_Haut', [300, 250], 'div-gpt-ad-1362993598254-0').addService(googletag.pubads());
    googletag.pubads().enableSingleRequest();
    googletag.enableServices();
    });
    </script>
</head>
<body class="home blog gecko">
<div id="angles">{# Begin site content #}
    <div id="masthead" class="clear">{# Begin masthead #}
        <div class="inner-wrapper">{# Begin inner wrapper #}
            <p class="logo"><a href="/" title="Sortir A Macon"><img src="{% zmedia_prefix %}gfx/sortir-a-macon-logo.png" alt="Sortir A Macon" /></a></p>
        </div>{# End inner wrapper #}
    </div>{# End masthead #}
    
    {# Check to make sure this is on the home page only #}
        
    {# End the home page check #}
    
    <div id="mainnav-bar" class="clear">{# Begin Main Navigation #}
        <div class="menu-large-navigation-bar-container">
            <ul>
                <li><a href="/">Accueil</a></li>
                <li class="cinema">
                    <a href="{% url news_archive_category_index "cinema" %}">Cinéma</a>
                    <ul class="sub-menu">
                        <li><a href="{% url news_archive_category_index "cinema" %}">L'actualité</a></li>
                        <li><a href="/films/">Les sorties cinéma</a></li>
                        
                    </ul>
                </li>
                <li class="theatre">
                    <a href="{% url news_archive_category_index "theatre" %}">Théâtre</a>
                </li>
                <li class="concert">
                    <a href="{% url news_archive_category_index "concert-clubbing" %}">Concert &amp; Clubbing</a>
                </li>
                <li class="restaurant">
                    <a href="/restaurants/">Restaurants / Bars</a>
                </li>
                <li class="association">
                    <a href="/associations/">Association</a>
                </li>
                <li class="tourisme">
                    <a href="{% url news_archive_category_index "tourisme-oeno-tourisme" %}">Tourisme &amp; Oeno-tourisme</a>
                </li>
                <li class="contact">
                    <a href="/contact/">Contact</a>
                </li>
            </ul>
        </div>
    </div>{# End Main Navigation #}
    
    <div class="inner-wrapper">
        {#<div type="TextPlugin" rel="base_content" class="cms_plugin_holder cms_plugin_content" id="cms_plugin_{{ current_page.id }}_content" style="float: none; clear: none;">#}
        {#</div>#}
        
        {% block content%}
            {{ current_page.get_content|render_to_html|safe }}
            {% placeholder left_bar %}
        {% endblock %}
    </div>
    
    <div id="footer">{# Begin Footer #}
        <div id="copyright" class="clear">
            <div class="alignleft">
                <p>
                    Copyright &#169; 2011 <a href="http://www.sortiramacon.fr/" title="Sortir A Macon : le guide culturel sur Macon">Sortir A Macon</a> | <a href="/mentions-legales/">Mentions légales</a> | <a href="/a-propos/">A Propos</a>
                </p>
                <p>Réalisation <a href="http://www.askinweb.fr" title="Création de site Internet sur Macon" target="_blank">AskinWeb</a>.</p>
            </div>
            
            <div class="alignright">
                <p><a class="scroll-top" href="#" title="Revenir en haut de la page">Revenir en haut</a></p>
            </div>          
        </div>
    </div>{# End Footer #}
</div>{# End site content #}

<script type='text/javascript' src='{% zmedia_prefix %}js/jquery.js'></script>
<script type='text/javascript' src='{% zmedia_prefix %}js/jquery.easing.1.3.min.js?ver=1.3'></script>
<script type='text/javascript' src='{% zmedia_prefix %}js/jquery.cycle.all.min.js?ver=2.99'></script>
<script type='text/javascript' src='{% zmedia_prefix %}js/jquery.fancybox-1.3.4.min.js?ver=1.3.4'></script>
<script type='text/javascript' src='{% zmedia_prefix %}js/jquery.superfish-1.4.8.min.js?ver=1.4.8'></script>
<script type='text/javascript' src='{% zmedia_prefix %}js/jquery.supersubs-0.2b.min.js?ver=0.2b'></script>
<script type='text/javascript' src='{% zmedia_prefix %}js/ui.core.js?ver=1.8.12'></script>
<script type='text/javascript' src='{% zmedia_prefix %}js/ui.widget.js?ver=1.8.12'></script>
<script type='text/javascript' src='{% zmedia_prefix %}js/ui.tabs.js?ver=1.8.12'></script>
<script type='text/javascript' src='{% zmedia_prefix %}/js/macon.js?ver=1.3.4'></script>

</body>
</html>
