{% extends "right-column.html" %}
{% load cms_tags zutils thumbnail %}

{% block before_content %}
{% comment %}
{# Begin featured slider #}
<div id="featured-slides" class="clear">
    {# Begin featured slides #}
    <div class="featured-post">
        <div class="featured-thumb">
            <p>
                {% thumbnail news.image "390x280" crop="center" as im %}<img width="290" height="125" title="{{ news.title }}" alt="{{ news.title }}" src="{{ im.url }}" />{% endthumbnail %}
            </p>
        </div>
        <div class="featured-text">
            <h2 class="cinema"><a href="dddfdsfsdf" title="Browse all Articles in Videos">Cinéma</a></h2>
            <h3><a href="dddfdsfsdf" title="Protected: DMC&#8217;s, of Run DMC, Cameo Performance with Hollis Brown" rel="bookmark">Captain America : aujourd'hui dans votre cinéma !</a></h3>  
            <p class="feature-date">6 juin 2011 &#124;</p>
            <p>Châpo de l'article sur la sortie de Captain America dans les salles macônnaises.</p>
            
            <div class="continue">
                <p><a href="http://demo.wearepixel8.com/periodic/music/dmc-performance-hollis-brown/" title="Continue reading Protected: DMC&#8217;s, of Run DMC, Cameo Performance with Hollis Brown" rel="bookmark">Continuer</a></p>
            </div>
        </div>
    </div>
    {# End featured slides #}
</div>
{# End featured slider #}
{% endcomment %}
{% placeholder slider %}

{% endblock %}

{% block left_column %}
    <div class="headlines clear">
        {% placeholder first_line %}
    </div>
    <div class="headlines clear">
        {% placeholder second_line %}
    </div>
    <div class="headlines clear">
        {% placeholder third_line %}
    </div>
    {#{ block.super }#}
{% endblock %}
