{% extends "default.html" %}
{% load cms_tags zutils sam_tags %}

{% block extra_head %}
  <script async="async" src="https://www.google.com/adsense/search/ads.js"></script>
  <script type="text/javascript" charset="utf-8">
  (function(g,o){g[o]=g[o]||function(){(g[o]['q']=g[o]['q']||[]).push(
  arguments)},g[o]['t']=1*new Date})(window,'_googCsa');
</script>
{% endblock %}

{% block content %}

{% block before_content %}{% endblock %}

<div id="column-container" class="clear">
    <div id="left-column">
        {% block left_column %}
        <div class="post-entry post-620">
            {{ current_page.get_content|render_to_html|safe }}
            {% placeholder left_bar %}
        </div>
        {% endblock %}
    </div>
    <div id="right-sidebar">
        <form method="get" action="/rechercher/" class="search-form">
            {# Begin search form #}
            <fieldset>
                <label for="s">Rechercher</label>
                <input type="text" value="Rechercher sur SortirAMacon.fr" onfocus="if (this.value == 'Rechercher sur SortirAMacon.fr') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Rechercher sur SortirAMacon.fr';}" name="q" id="s" />
                <input type="image" src="{% zmedia_prefix %}gfx/misc/search.png" id="search-submit">
            </fieldset>
        </form>
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.4";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
        <div class="fb-like" data-width="292" data-href="https://www.facebook.com/pages/Sortir-%C3%A0-M%C3%A2con/1418541021809551?sk=timeline" data-show-faces="true" data-share="true"></div>

      {# ads block #}
        <div id="afscontainer1" style="display: block; height: 250px; width: 300px;">

        </div>

        <div id='div-gpt-ad-1362993598254-0' style='width:300px; height:250px;'>
          <script type='text/javascript'>
          googletag.cmd.push(function() { googletag.display('div-gpt-ad-1362993598254-0'); });
          </script>
        </div>

        <div class="horaires-cinema">
          <a href="http://www.cinemarivaux-macon.fr/" target="_blank"><img src="{% zmedia_prefix %}gfx/horaires-cinema.png" alt="horaires cinéma à macon"/></a>
        </div>
        {#% get_sidebar_calendar %#}
        
        {% get_category_list %}
        
        {% block right_column %}
        {% placeholder right_bar %}
        {% endblock %}
        <br/>
        <div id='div-gpt-ad-1362993442600-0' style='width:300px; height:250px;'>
          <script type='text/javascript'>
          googletag.cmd.push(function() { googletag.display('div-gpt-ad-1362993442600-0'); });
          </script>
        </div>
    </div>
</div>
{% endblock %}
{% block extra_js %}
  <script type="text/javascript" charset="utf-8">

      var pageOptions = {
          'pubId': 'pub-9616389000213823',// Enter your own pubId here!
          'query': 'flowers'
      };

      var adblock1 = {
          'container': 'afscontainer1',
          'width': 300,
          'height': 250,
          'display' : 'block'
      };

      _googCsa('ads', pageOptions, adblock1, adblock2);
  </script>
{% endblock %}
