#header {
    background:none;
    color:#5B80B2;
}
#header ul li, #header ol li {list-style-type:none;margin:0;}
#header #branding h1 {
    background:none;
    width:auto;
    height:auto;
    color:#999999;
    font-size:13px;
    padding:0;
    margin:0;
    text-indent:0;
}
#header #user-tools a, #header #user-tools a:link, #header #user-tools a:visited {
    color:#5B80B2;
    text-decoration:underline;
}

#bookmark-form {display:none;}
#container {
    width:100%;
    margin:auto;
    text-align:left;
    background-color:transparent;
}

body.popup #container {width:auto;border:0;}
body.popup #container #content {margin-top:0;}
body.popup #container h2 {margin-top:0;}

#header ul#navigation-menu li ul li.add a {
    color:#5B80B2;
    font-weight:bold;
    background:url("../gfx/add.png") no-repeat scroll 0 3px transparent;
    text-indent:10px;
}

#footer {
 /*background:none repeat scroll 0 0 #7A96BB;*/
}

.dashboard-module ul.inline li {
display:block;
float:left;
}
.dashboard-module .linkimg {
    background-position:top center;
    background-repeat:no-repeat;
    display:block;
    height:40px;
    padding-top:40px;
}

.dashboard-module .linkimg.add_page {
    background-image:url("../gfx/linkimg_add_page.png");
}
.dashboard-module .linkimg.sitemap {
    background-image:url("../gfx/linkimg_sitemap.png");
}
.dashboard-module .linkimg.front_edit {
    background-image:url("../gfx/linkimg_frontedit.png");
}
.dashboard-module .linkimg.image_folder {
    background-image:url("../gfx/linkimg_image_folder.png");
}

#content {margin:0;}
#content-main{position:relative;}
.button-switch {position:absolute;top:-35px;right:0;}
a.button {color:white;}

/* Change list part */
#changelist #toolbar form #searchbar, #changelist .actions select {
    padding: 7px 6px 5px;
}
#changelist .actions select {
    border: 1px solid #DDDDDD;
}
#changelist {
    border:none;
    border-top : 4px solid #E6E6E6;
}

#changelist #toolbar {background:none;}
#changelist form {
    margin-top:0;
    padding-bottom:0;
}
#changelist #toolbar form input {
    font-size: 13px;
    padding: 7px 6px 5px;
}

#changelist-filter {
    top: 30px;
}

#changelist-filter-button {
    background: url("../../../cms/images/changelist-filter-button-bg.jpg") no-repeat scroll 0 0 transparent;
    border-left: 1px solid #DDDDDD;
    display: block;
    height: auto;
    line-height: 30px;
    margin: 0;
    padding-left: 10px;
    position: absolute;
    right: 0;
    top: 0;
    width: 150px;
    z-index: 1000;
}
.change-list #changelist.filtered {background:white;background:white !important;}
.filtered .actions {
    margin-right: 0 !important;
    margin-right: 0;
}
.change-list .filtered table, .change-list .filtered .paginator, .filtered #toolbar, .filtered div.xfull {
    margin-right:0;
    width: 100% !important;
    width: 100%;
}

#toolbar {
    height: 30px;
}

input[type="checkbox"].navigation-checkbox {vertical-align:middle;}

.module {
    background: none repeat scroll 0 0 white;
    border: 1px solid #DDDDDD;
    margin-bottom: 25px;
}
fieldset {padding:0;}

.form-row label {text-align:right;font-size:13px;color:#666666;}

#page_form .title input,
#page_form .page_title input,
#page_form .meta_description textarea,
#page_form .meta_keywords input,
#page_form .redirect input,
#page_form .overwrite_url input {width:80%;}

input, textarea, select, .form-row p {
    font-size: 13px;
}

#page_form .slug input {width:80%;}

body.popup {background:white;}
body.popup #container #content {
    margin: 0;
    padding: 5px;
    width: auto;
}

body.popup #footer {display:none;}

body.popup form {
    margin-top: 5px;
}
.form-row.title.menu_title .field-box {width:100%;}
#sidebarcontroller {position:absolute;top:10px;left:10px;z-index:10000;}

.plugin-list-holder {
    width: 100%;
}
.plugin-editor, .plugin-list-holder {
    float: none;
}

.plugin-editor {
    margin-left: 0;
    padding: 0;
    width: auto;
}

ul.plugin-list span.delete {
    float: right;
    margin-right: 10px;
}
