@charset "utf-8";

/* Chromatron Admin Theme Color Settings 

   Here you can find all necessary color setting for theme customization.
   Default color si Gray/Red combination.
*/

/*  Text Color  */
a, #header ul#navigation-menu li.selected a, #header ul#navigation-menu li.selected li.selected a, #header ul#navigation-menu li.selected a:hover,
#header ul#navigation-menu li a:hover, #header ul#navigation-menu li li a:hover, #header ul#navigation-menu li.selected li a:hover,
.tab-switch li a.current, .sidetab-switch li a.current, .tab-switch li a:hover, .sidetab-switch li a:hover,
.widget.decrease strong, .jq-datepicker.datepick a, #user-info div > a:hover, .contacts li a.contacts-user:hover
{ color:#ae432e; }
#header ul#navigation-menu li a, #header ul#navigation-menu li.current li a, #header ul#navigation-menu li span,
.sidebar h2, .jq-datepicker .datepick-month-header select, .jq-datepicker .datepick-month th,
.jq-datepicker .datepick-month th a, .tab-switch li a, sidetab-switch a
{ color:#666; }
section[role=navigation] header h1, article footer, .widget.add-new-widget a:hover strong,
.sidetab-switch p, .jq-datepicker .datepick-month td .datepick-weekend
{ color:#999; }
.htmlcalendar .calendar-event .event a, .error-page strong, .jq-datepicker .datepick-month a:hover,
.jq-datepicker .datepick-month td .datepick-weekend:hover, .jq-datepicker .datepick-month td .datepick-highlight,
.jq-datepicker .datepick-month td .datepick-today, .htmlcalendar .calendar-event .event
{ color:#fff; }
#user-info em, .widget .close-widget:hover, .contacts li em, .htmlcalendar .week.current-week
{ color:#8c8c8c; }
.sidebar, .widget, .logs li .logs-timestamp, .logs li .logs-meta, .stats-summary li
{ color:#808080; }
.jq-datepicker .datepick-cmd:hover, .jq-datepicker .datepick-ctrl .datepick-cmd:hover
{ color:#003366; }
.widget.add-new-widget strong, .htmlcalendar .day.previous-month, .htmlcalendar .day.next-month {
	color:#ccc;
}
.widget.increase strong, #new-tasks span { color:#77ab13; }
.widget .close-widget, input:disabled, input.disabled { color:#bfbfbf; }
.htmlcalendar .day.today, .htmlcalendar tr:nth-child(even) .day.today { color:#737373; }
#user-info div > a { color:#4c4c4c; }
.htmlcalendar .week { color:#d6d6d6; }
.htmlcalendar .day { color:#a6a6a6; }
dd p { color:#888; }
a:hover { color:#036; }

/*  Background Color  */
body, body.login, body.error-page, tbody tr:hover { background-color:#e6e6e6; }
.widget.add-new-widget, .htmlcalendar tr:nth-child(even) .day, tbody tr:nth-child(even),
.jq-datepicker .datepick-month-header select, input:disabled, input.disabled, input, textarea, select, input.datepicker { background-color:#fafafa; }
#user-info { background-color:#d9d9d9; }
.htmlcalendar .calendar-event .event.blue { background-color:#058dc7; }
.htmlcalendar .calendar-event .event.green { background-color:#77ab13; }
.htmlcalendar .calendar-event .event.orange { background-color:#ef561a; }
.htmlcalendar .calendar-event .event.black { background-color:#4d4d4d; }
.htmlcalendar .calendar-event .event.gray, .jq-datepicker .datepick-month a:hover,
.jq-datepicker .datepick-month td .datepick-weekend:hover, .jq-datepicker .datepick-month td .datepick-highlight { background-color:#999; }
tbody tr:nth-child(odd), .widget, .stats-summary li, .progress-bar, .logs li, .contacts, .htmlcalendar .day { background-color:#f2f2f2; }
.sidebar img, .contacts li img, .login #login-box, .table-actions ul, .table-actions > a,
.htmlcalendar .week, .htmlcalendar .day.previous-month, .htmlcalendar .day.next-month { background-color:#fff; }
.htmlcalendar .day.today, .htmlcalendar tr:nth-child(even) .day.today { background-color:#ffffcc; }
.jq-datepicker .datepick-month td .datepick-today, .htmlcalendar .calendar-event .event { background-color:#ae432e; }
input.valid, textarea.valid { background-color:#eef4e4; }
input.invalid, textarea.invalid { background-color:#f4e9e7; }
input:focus, textarea:focus { background-color:#ededed; }
#header ul#navigation-menu li span { background-color:#d1d1d1; }

/*  Background Images  */
a.outside { background-image:url('../gfx/icons/icon_outside_link.png'); }
#header ul#navigation-menu > ul { background-image:url('../gfx/bgs/bg_aside_nav.png'); }
#header ul#navigation-menu li { background:url('../gfx/bgs/bg_aside_nav.png') no-repeat top left; }
#header ul#navigation-menu li.selected { background-image:url('../gfx/bgs/bg_aside_nav_current.png'); }
#header ul#navigation-menu li li, #header ul#navigation-menu li li.selected { background-image:url('../gfx/icons/list-style/icon_list_style.png'); }
.widget.add-new-widget span { background-image:url('../gfx/widgets/widget_add.png'); }
article section ul li { background-image:url('../gfx/icons/list-style/icon_list_style.png'); }
.sidetabs { background-image:url('../gfx/bgs/bg_sidetab.png'); }
.accordion .accordion-switch { background-image:url('../gfx/icons/icon_accordion.png'); }
.accordion .accordion-switch:hover { background-image:url('../gfx/icons/icon_accordion-hover.png'); }
div.breadcrumbs {color:#666;font-size:13px;}
div.breadcrumbs a {color:#AE432E;font-size:13px;}
div.breadcrumbs a:hover {color:#003366;}
#breadcrumbs li:first-child a, div.breadcrumbs a:first-child {
     background:url('../gfx/icons/icon_breadcrumbs_home.png') no-repeat top left; 
     padding-left:21px;
     padding-top:3px;
}
#breadcrumbs li:first-child a:hover, div.breadcrumbs a:first-child:hover {
     background-position:0 -16px; 
}

.loader { background-image:url('../gfx/icons/ajax_loading.gif'); }
.loader.red { background-image:url('../gfx/icons/ajax_loading_red.gif'); }
.loader.green { background-image:url('../gfx/icons/ajax_loading_green.gif'); }
.loader.blue { background-image:url('../gfx/icons/ajax_loading_blue.gif'); }
.nested .loader { background-image:url('../gfx/icons/ajax_loading_nested.gif'); }
.nested .loader.red { background-image:url('../gfx/icons/ajax_loading_red_nested.gif'); }
.nested .loader.green { background-image:url('../gfx/icons/ajax_loading_green_nested.gif'); }
.nested .loader.blue { background-image:url('../gfx/icons/ajax_loading_blue_nested.gif'); }
.tab-switch li a.current { background-image:url('../gfx/icons/icon_tab.png'); }

/*  Border Colors  */
.sidebar.separator, .sidebar .separator { border-color:#d1d1d1; }
#user-info img, article img, .table-actions > a:hover, .table-actions > a.active, .sidebar img, .contacts li img, .jq-datepicker, .table-actions ul { border-color:#b3b3b3; }
article header, section .sidetab-switch li, .accordion, .accordion li, .contacts li,
.jq-datepicker .datepick-month table, table, tbody, th, td, .table-actions ul li, .widget,
article footer, .stats-summary li, .logs li, .contacts, .progress-bar { border-color:#e6e6e6; }
.jq-datepicker .datepick-month, .jq-datepicker .datepick-month td, .sidetab-switch li a.current,
.jq-datepicker .datepick-month th, .jq-datepicker .datepick-month th a { border-color:#fff; }
.htmlcalendar, .htmlcalendar tbody th, .htmlcalendar tbody td, .table-actions > a { border-color:#ccc; }
fieldset, .jq-datepicker .datepick-month-header select, input, textarea, select, input.datepicker, input:disabled, input.disabled { border-color:#ddd; }
#user-info, #header ul#navigation-menu li span, #header ul#navigation-menu li span { border-color:#bfbfbf; }
input.valid, textarea.valid { border-color:#77ab13; }
input.invalid, textarea.invalid { border-color:#ae432e; }
input:focus, textarea:focus { border-color:#a6a6a6; }
.login #login-box .article-container { border-color:#ababab; }

/* IE7 does not support border-left-color so we have to reset all border setting to change color  */
.login-links li {
	border-left:1px solid #f2f0f0;
	border-right:1px solid #d1d1d1;
}

/*  Text Shadows  */
h1, h2, h3, h4, h5, h6 { text-shadow:0 1px 1px #b3b3b3; }
#header ul#navigation-menu li a { text-shadow:0 1px 1px #ccc; }
.stats-summary .stats-count { text-shadow:0 1px 1px #a6a6a6; }
.htmlcalendar .calendar-entry {  text-shadow:0 1px 0 #fff; }
.error-page strong {
	text-shadow: 0 1px 0 #ccc, 
				 0 2px 0 #c9c9c9,
				 0 3px 0 #bbb,
				 0 4px 0 #b9b9b9,
				 0 5px 0 #aaa,
				 0 6px 1px rgba(0,0,0,.1),
				 0 0 5px rgba(0,0,0,.1),
				 0 1px 3px rgba(0,0,0,.3),
				 0 3px 5px rgba(0,0,0,.2),
				 0 5px 10px rgba(0,0,0,.25),
				 0 10px 10px rgba(0,0,0,.2),
				 0 20px 20px rgba(0,0,0,.15);
}

/*  Box Shadows  */
.htmlcalendar .day.today > div, .progress-bar div, .login #login-box {
	-webkit-box-shadow:0 0 5px #999;
	-moz-box-shadow:0 0 5px #999;
	box-shadow:0 0 5px #999;
}
.htmlcalendar .calendar-event .event {
	-webkit-box-shadow:0 0 3px #999;
	-moz-box-shadow:0 0 3px #999;
	box-shadow:0 0 3px #999;
}
.jq-datepicker, .table-actions > a.active, .table-actions ul {
	-webkit-box-shadow:0 0 2px #b3b3b3;
	-moz-box-shadow:0 0 2px #b3b3b3;
	box-shadow:0 0 2px #b3b3b3;
}
input, textarea, select, input.datepicker, .jq-datepicker .datepick-month-header select {
	-webkit-box-shadow:inset 0 0 4px #d9d9d9;
	-moz-box-shadow:inset 0 0 4px #d9d9d9;
	box-shadow:inset 0 0 4px #d9d9d9;
}

/*  Nested Style Colors  */
article.nested header, article.nested footer, article.nested .logs li, article.nested fieldset,
article.nested .sidetab-switch li, article.nested .contacts, article.nested .stats-summary li,
article.nested .progress-bar, article.nested .accordion, article.nested .accordion li, .ie7 section.nested,
.ie8 section.nested, .ie7 article.nested .article-container, .ie8 article.nested .article-container,
.nested table, .nested th, .nested td, .nested
{ border-color:#bfbfbf; }
article.nested .sidetab-switch li, article.nested .accordion, article.nested .accordion li,
article.nested fieldset, article.nested .contacts, article.nested .contacts li, article.nested .stats-summary li,
article.nested section h3, article.nested section h4, article.nested section h5
{ color:#666; }
article.nested header h2, article.nested .accordion .accordion-switch h3
{ color:#ae432e; }
article.nested {
	background-color:#e6e6e6;
	color:#808080;
}
.sidebar.nested { background-color:#d9d9d9; }
article.nested .tab-switch li a.current { background-image:url('../gfx/icons/icon_tab_nested.png'); }
article.nested .sidetabs { background-image:url('../gfx/bgs/bg_sidetab_nested.png'); }
article.nested .accordion .accordion-switch { background-image:url('../gfx/icons/icon_accordion_nested.png'); }
article.nested .accordion .accordion-switch:hover { background-image:url('../gfx/icons/icon_accordion-hover_nested.png'); }
.nested {
	-webkit-box-shadow:inset 0px 0px 3px #ababab;
	-moz-box-shadow:inset 0px 0px 3px #ababab;
	box-shadow:inset 0px 0px 3px #ababab;
}

/* IE7 does not support border-left-color so we have to reset all border setting to change color  */
article.nested .sidetab-switch li a.current { border-right:1px solid #e6e6e6; }

/*  Buttons  */
.button-link, .button, button { text-shadow:0 1px 2px #666; }
.button-link {
	background-color:#ae432e;
	color:#fff;
}
.button-link.blue { background-color:#066d99; }
.button-link.green { background-color:#6a9912; }
.button-link.gray { background-color:#929494; }
.button-link:hover {
	background-color:#4c4c4c;
	color:#fff;
}
.button, button {
	border-color:#cb6652 #b74d39 #803121;
	background:-moz-linear-gradient(top, #faa796, #d06c57 5%, #ae432e 100%);
	background:-webkit-gradient(linear, left top, left bottom, from(#faa796), to(#ae432e), color-stop(0.05, #d06c57));
	background:-o-linear-gradient(top, #faa796, #d06c57 5%, #ae432e 100%);
	-webkit-box-shadow:0 1px 2px #999;
	-moz-box-shadow:0 1px 2px #999;
	box-shadow:0 1px 2px #999;
	color:#fce8e3;
}
.button:hover, button:hover {
	background:-moz-linear-gradient(top, #faa796, #d06c57 5%, #943a28 100%);
	background:-webkit-gradient(linear, left top, left bottom, from(#faa796), to(#943a28), color-stop(0.05, #d06c57));
	background:-o-linear-gradient(top, #faa796, #d06c57 5%, #943a28 100%);
	color:#fff;
}
.no-cssgradients .button, .no-cssgradients button { background:#ae432e url('../gfx/btns/btn_red.png') repeat-x left top; }
.no-cssgradients .button:hover, .no-cssgradients button:hover { background:#963c2a url('../gfx/btns/btn_red_hover.png') repeat-x left top; }

/*  Buttons :: Button :: Blue  */
.button.blue, button.blue { 
	border-color:#1495cc #2b8ab3 #066d99;
	background:-moz-linear-gradient(top, #afe3fa, #6cb8d9 5%, #088ec8 100%);
	background:-webkit-gradient(linear, left top, left bottom, from(#afe3fa), to(#088ec8), color-stop(0.05, #6cb8d9));
	background:-o-linear-gradient(top, #afe3fa, #6cb8d9 5%, #088ec8 100%);
	color:#ebf9ff;
}
.button.blue:hover, button.blue:hover {
	background:-moz-linear-gradient(top, #afe3fa, #6cb8d9 5%, #077bad 100%);
	background:-webkit-gradient(linear, left top, left bottom, from(#afe3fa), to(#077bad), color-stop(0.05, #6cb8d9));
	background:-o-linear-gradient(top, #afe3fa, #6cb8d9 5%, #077bad 100%);
	color:#fff;
}
.no-cssgradients .button.blue, .no-cssgradients button.blue { background:#088ec8 url('../gfx/btns/btn_blue.png') repeat-x left top; }
.no-cssgradients .button.blue:hover, .no-cssgradients button.blue:hover { background:#0a7dae url('../gfx/btns/btn_blue_hover.png') repeat-x left top; }

/*  Buttons :: Button :: Green  */
.button.green, button.green { 
	border-color:#8dcc18 #7cb315 #6a9912;
	background:-moz-linear-gradient(top, #d7fa96, #abd957 5%, #78ac15 100%);
	background:-webkit-gradient(linear, left top, left bottom, from(#d7fa96), to(#78ac15), color-stop(0.05, #abd957));
	background:-o-linear-gradient(top, #d7fa96, #abd957 5%, #78ac15 100%);
	color:#f7ffe5;
}
.button.green:hover, button.green:hover {
	background:-moz-linear-gradient(top, #d7fa96, #abd957 5%, #659111 100%);
	background:-webkit-gradient(linear, left top, left bottom, from(#d7fa96), to(#659111), color-stop(0.05, #abd957));
	background:-o-linear-gradient(top, #d7fa96, #abd957 5%, #659111 100%);
	color:#fff;
}
.no-cssgradients .button.green, .no-cssgradients button.green { background:#78ac15 url('../gfx/btns/btn_green.png') repeat-x left top; }
.no-cssgradients .button.green:hover, .no-cssgradients button.green:hover { background:#679212 url('../gfx/btns/btn_green_hover.png') repeat-x left top; }

/*  Buttons :: Button :: Gray  */
.button.gray, button.gray { 
	border-color:#b1b3b3 #a4a6a6 #929494;
	background:-moz-linear-gradient(top, #f2f2f2, #ccc 5%, #abacac 100%);
	background:-webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#abacac), color-stop(0.05,#ccc));
	background:-o-linear-gradient(top, #f2f2f2, #ccc 5%, #abacac 100%);
	color:#727373;
	text-shadow:0 1px 2px #999;
}
.button.gray:hover, button.gray:hover {
	background:-moz-linear-gradient(top, #f2f2f2, #ccc 5%, #979999 100%);
	background:-webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#979999), color-stop(0.05,#ccc));
	background:-o-linear-gradient(top, #f2f2f2, #ccc 5%, #979999 100%);
	color:#585959;
}
.no-cssgradients .button.gray, .no-cssgradients button.gray { background:#abacac url('../gfx/btns/btn_gray.png') repeat-x left top; }
.no-cssgradients .button.gray:hover, .no-cssgradients button.gray:hover { background:#9a9c9c url('../gfx/btns/btn_gray_hover.png') repeat-x left top; }

/*  Buttons :: Button :: Disable  */
.button.disabled, button:disabled {
	background:#fafafa;
	border-color:#b1b3b3;
	color:#a0a0a0;
}