{% load i18n %}

<h1>{% trans "Latest movies" %}</h1>
<ul>
  {% for movies in latest %}
    <li><a href="{{ movies.get_absolute_url }}">{{ movies.title }}</a></li>
  {% empty %}
    <li>{% trans "No movies yet" %}</li>
  {% endfor %}
</ul>
<a href="{% url movies_archive_index %}">{% trans "Archive" %}</a>
