{% extends "movies/base_movies.html" %}

{% block content_movies %}
    <h1>{{ object.title }}</h1>
    
    <p>
        <span class="date">{{ object.pub_date }}</span>
    </p>
    <p>
        <img class="right" src="{{ object.image.url }}" alt="{{ object.title }}" />
        <strong>{{ object.excerpt }}</strong>
    </p>
    <p>
        {{ object.content|safe }}
    </p>
{% endblock %}

