{% extends "news/base_movies.html" %}

{% load i18n %}

{% block content_movie %}
    <h1>Les derniers films a l'affiche</h1>
    
    {% for object in latest %}
    <div class="movies">
        <h2><a href="{{ object.get_absolute_url }}" title="{{ object.title }}">{{ object.title }}</a></h2>
        <p>
            {{ object.excerpt }}
        </p>
        <p style="text:align:right">
            <a href="{{ object.get_absolute_url }}">Lire la suite</a>
        </p>
    </div>
    {% endfor %}
{% endblock %}